Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.36.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

feat(github-release): update fluxcd/flux2 to v2.1.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.28.1
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update linuxserver/grocy docker tag to v4
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils to v2.0.9
  magefiles/go.mod
Labels: area/go

chore(deps): update linuxserver/grocy docker tag to v4
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.28.1
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(deps): update module github.com/l50/goutils to v2.0.9
  magefiles/go.mod
Labels: area/go

fix(github-release): update pre-commit hook pre-commit/mirrors-prettier to v3.0.2
  .pre-commit-config.yaml
Labels: area/pre-commit

Update k3s-ansible submodule and flux deployment
  .gitignore
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

Update to magefile to use goutils v2
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Labels: area/go

Update CRD handling
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Add external-dns entry to mosquitto ingress
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

Remove problematic code
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

Remove health check and update ks.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.36.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/kustomize-controller docker tag to v1.1.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/notification-controller docker tag to v1.1.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/source-controller docker tag to v1.1.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

feat(github-release): update fluxcd/flux2 to v2.1.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update linuxserver/grocy docker tag to v4.0.3
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update rancher/system-upgrade-controller docker tag to v0.13.1
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(helm): update chart rancher to 2.7.6
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update rancher/shell docker tag to v0.1.21
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update rancher/shell docker tag to v0.1.21
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(helm): update chart rancher to 2.7.6
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.36.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update ghcr.io/fluxcd/notification-controller docker tag to v1.1.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/source-controller docker tag to v1.1.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/kustomize-controller docker tag to v1.1.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update linuxserver/grocy docker tag to v4.0.3
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update rancher/system-upgrade-controller docker tag to v0.13.1
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.28.2
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.36.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/source-controller docker tag to v1.1.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

feat(github-release): update fluxcd/flux2 to v2.1.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"
