Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/pre-commit, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

docs: remove private repository references from home-assistant readme
  kubernetes/apps/home-automation/home-assistant/app/README.md
Labels: area/kubernetes

docs: expand frigate doorbell event recording documentation
  kubernetes/apps/home-automation/frigate/README.md
Labels: area/kubernetes

chore: pin music-assistant image and add authentik middleware
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: pin music-assistant image and add authentik middleware (#1780)
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: add music assistant forward auth to authentik blueprint
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

feat: add Music Assistant forward auth integration to Authentik (#1781)
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

feat: add music assistant proxy provider and application to authentik
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

feat: add Music Assistant forward auth provider and application (#1782)
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

fix: extend authentik proxy access token validity to 24 hours
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

fix: increase music-assistant memory limit and pin to arm64 nodes
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: increase music-assistant memory limit and pin to arm64 nodes
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: extend authentik proxy access token validity to 24 hours (#1784)
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

fix: increase music-assistant memory limit and pin to arm64 nodes (#1785)
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: exclude music-assistant from serpent node
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: add serve-static task for ephemeral local HTML hosting
  .taskfiles/serve-static/Taskfile.yaml
  README.md
  Taskfile.yaml
  hack/serve-static.sh
  hack/static-site.tmpl.yaml
Labels: area/hack-scripts, area/taskfiles

feat: add serve-static task for ephemeral local HTML hosting (#1793)
  .taskfiles/serve-static/Taskfile.yaml
  README.md
  Taskfile.yaml
  hack/serve-static.sh
  hack/static-site.tmpl.yaml
Labels: area/hack-scripts, area/taskfiles

fix: remove stale attack-simulation test references
  .github/workflows/test-manifests.yaml
  .taskfiles/test/Taskfile.yaml
Labels: area/github

fix: remove stale attack-simulation test references (#1794)
  .github/workflows/test-manifests.yaml
  .taskfiles/test/Taskfile.yaml
Labels: area/github

fix: pin hass-oidc-auth to release zip and restore password auth flow
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

fix: pin hass-oidc-auth to release zip and restore password auth flow (#1795)
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

feat: add mealie recipe manager with authentik SSO and nightly backups
  .taskfiles/test/Taskfile.yaml
  README.md
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/mealie/app/backup-cronjob.yaml
  kubernetes/apps/home-automation/mealie/app/externalsecret.yaml
  kubernetes/apps/home-automation/mealie/app/helmrelease.yaml
  kubernetes/apps/home-automation/mealie/app/kustomization.yaml
  kubernetes/apps/home-automation/mealie/app/ocirepository.yaml
  kubernetes/apps/home-automation/mealie/ks.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
  kubernetes/apps/identity/authentik/app/externalsecret.yaml
Labels: area/kubernetes

feat: add mealie recipe manager with authentik SSO and nightly sqlite backups (#1827)
  .taskfiles/test/Taskfile.yaml
  README.md
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/mealie/app/backup-cronjob.yaml
  kubernetes/apps/home-automation/mealie/app/externalsecret.yaml
  kubernetes/apps/home-automation/mealie/app/helmrelease.yaml
  kubernetes/apps/home-automation/mealie/app/kustomization.yaml
  kubernetes/apps/home-automation/mealie/app/ocirepository.yaml
  kubernetes/apps/home-automation/mealie/ks.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
  kubernetes/apps/identity/authentik/app/externalsecret.yaml
Labels: area/kubernetes

fix: add explicit grant_types to mealie oauth provider
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

fix: add explicit grant_types to remaining oauth2 providers
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

fix: add explicit grant_types to all oauth2 providers in authentik blueprint (#1828)
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

fix: disable OIDC email verification requirement for mealie
  kubernetes/apps/home-automation/mealie/app/helmrelease.yaml
Labels: area/kubernetes

fix: disable OIDC email verification requirement for mealie (#1829)
  kubernetes/apps/home-automation/mealie/app/helmrelease.yaml
Labels: area/kubernetes

fix: point mealie backups at the offsite-replicated photo share
  kubernetes/apps/home-automation/mealie/app/backup-cronjob.yaml
Labels: area/kubernetes

fix: point mealie backups at the offsite-replicated photo share (#1830)
  kubernetes/apps/home-automation/mealie/app/backup-cronjob.yaml
Labels: area/kubernetes

fix: widen mealie backup coverage and shift ahead of the offsite window
  .gitignore
  kubernetes/apps/home-automation/mealie/app/backup-cronjob.yaml
Labels: area/kubernetes

fix: broaden mealie backup contents and move dump ahead of offsite window (#1831)
  .gitignore
  kubernetes/apps/home-automation/mealie/app/backup-cronjob.yaml
Labels: area/kubernetes

chore: ignore local household meal specs
  .gitignore
Labels: none

chore: ignore local household meal specs (#1832)
  .gitignore
Labels: none

feat: reconcile mealie's home assistant grocery notifier on a schedule
  kubernetes/apps/home-automation/mealie/app/externalsecret.yaml
  kubernetes/apps/home-automation/mealie/app/ha-notifier-cronjob.yaml
  kubernetes/apps/home-automation/mealie/app/kustomization.yaml
Labels: area/kubernetes

fix: refuse mealie ha-notifier runs when WEBHOOK_ID is empty
  kubernetes/apps/home-automation/mealie/app/ha-notifier-cronjob.yaml
Labels: area/kubernetes

feat: reconcile mealie's home assistant grocery notifier on a schedule (#1833)
  kubernetes/apps/home-automation/mealie/app/externalsecret.yaml
  kubernetes/apps/home-automation/mealie/app/ha-notifier-cronjob.yaml
  kubernetes/apps/home-automation/mealie/app/kustomization.yaml
Labels: area/kubernetes

fix: replace grocy readiness probe with body-inspecting exec check
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

fix: replace grocy readiness probe with body-inspecting exec check (#1834)
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

chore: switch mealie to the cowdogmoo fork image
  kubernetes/apps/home-automation/mealie/app/helmrelease.yaml
Labels: area/kubernetes

chore: bump mealie fork image to dev build v3.24.0-woe.dev.8942dce
  kubernetes/apps/home-automation/mealie/app/helmrelease.yaml
Labels: area/kubernetes
