Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/pre-commit, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

refactor: switch to advancedMounts for improved volume management in zigbee2mqtt
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat: split zigbee2mqtt configuration into configmap and secret with merged config
  kubernetes/apps/home-automation/zigbee2mqtt/app/configmap.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
Labels: area/kubernetes

feat: add kubernetes deployment for ollama inference with persistent model storage (#1286)
  kubernetes/apps/inference/kustomization.yaml
  kubernetes/apps/inference/namespace.yaml
  kubernetes/apps/inference/ollama/app/README.md
  kubernetes/apps/inference/ollama/app/deployment.yaml
  kubernetes/apps/inference/ollama/app/ingress.yaml
  kubernetes/apps/inference/ollama/app/kustomization.yaml
  kubernetes/apps/inference/ollama/app/middleware.yaml
  kubernetes/apps/inference/ollama/app/pvc.yaml
  kubernetes/apps/inference/ollama/app/service.yaml
  kubernetes/apps/inference/ollama/ks.yaml
Labels: area/kubernetes

feat: enable automatic Home Assistant reload on git-sync changes
  kubernetes/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: set ttlSecondsAfterFinished for home automation cronjobs
  kubernetes/apps/home-automation/printer-monitor/app/cronjob.yaml
  kubernetes/apps/home-automation/troy-backup/app/cronjob.yaml
Labels: area/kubernetes

refactor: migrate ollama deployment to helm chart via Flux HelmRelease
  kubernetes/apps/inference/ollama/app/README.md
  kubernetes/apps/inference/ollama/app/deployment.yaml
  kubernetes/apps/inference/ollama/app/helmrelease.yaml
  kubernetes/apps/inference/ollama/app/ingress.yaml
  kubernetes/apps/inference/ollama/app/kustomization.yaml
  kubernetes/apps/inference/ollama/app/ocirepository.yaml
  kubernetes/apps/inference/ollama/app/pvc.yaml
  kubernetes/apps/inference/ollama/app/service.yaml
  kubernetes/apps/inference/ollama/ks.yaml
Labels: area/kubernetes

feat: expose http port in ollama helmrelease for inference app
  kubernetes/apps/inference/ollama/app/helmrelease.yaml
Labels: area/kubernetes

fix: update external secret key reference for grafana admin credentials
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
Labels: area/kubernetes

feat: enable auto-reloading for deployments via stakater reloader annotations
  kubernetes/apps/database/mysql/app/mysql-deployment.yaml
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/monitoring/runzero-explorer/app/runzero-explorer-deployment.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/observability/vector/app/helmrelease.yaml
Labels: area/kubernetes

docs: fix license badge link and improve task categories table formatting
  README.md
Labels: none

feat: deploy adguard-home with observability and dns dashboard
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
  kubernetes/apps/networking/adguard-home/app/kustomization.yaml
  kubernetes/apps/networking/adguard-home/app/ocirepository.yaml
  kubernetes/apps/networking/adguard-home/ks.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/dashboards/adguard-iphone-dns-dashboard.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Labels: area/kubernetes

chore: update renovate config to ignore deprecated kubernetes directory
  .github/renovate.json5
Labels: area/github

feat: add Tempo tracing stack with OTLP integration to observability platform
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/tempo/app/helmrelease.yaml
  kubernetes/apps/observability/tempo/app/kustomization.yaml
  kubernetes/apps/observability/tempo/app/ocirepository.yaml
  kubernetes/apps/observability/tempo/ks.yaml
Labels: area/kubernetes

feat: enable ingress for tempo with traefik and TLS support
  kubernetes/apps/observability/tempo/app/helmrelease.yaml
Labels: area/kubernetes

feat: add ingress resource for tempo otlp endpoint
  kubernetes/apps/observability/tempo/app/ingress-otlp.yaml
  kubernetes/apps/observability/tempo/app/kustomization.yaml
Labels: area/kubernetes

feat: integrate authentik SSO with adguard home and add group-based admin policy
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
  kubernetes/apps/networking/adguard-home/app/helmrelease.yaml
Labels: area/kubernetes

feat: add admin secret and scheduled group sync for authentik
  kubernetes/apps/identity/authentik/app/externalsecret-admin.yaml
  kubernetes/apps/identity/authentik/app/group-sync-job.yaml
  kubernetes/apps/identity/authentik/app/kustomization.yaml
Labels: area/kubernetes

feat: adjust resource requests and limits for guacamole, authentik, and goldilocks apps
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/apps/observability/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

feat: add ares multi-agent attack simulation app with k8s manifests and configs
  kubernetes/apps/attack-simulation/ares/app/agents/acl.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-lateral-analyst.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-orchestrator.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-threat-hunter.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-triage.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/coercion.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/cracker.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/credential-access.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/lateral-movement.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/orchestrator.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/privesc.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/recon.yaml
  kubernetes/apps/attack-simulation/ares/app/ares-config.yaml
  kubernetes/apps/attack-simulation/ares/app/externalsecret-llm.yaml
  kubernetes/apps/attack-simulation/ares/app/externalsecret-redis.yaml
  kubernetes/apps/attack-simulation/ares/app/kustomization.yaml
  kubernetes/apps/attack-simulation/ares/app/network-policy.yaml
  kubernetes/apps/attack-simulation/ares/app/postgresql.yaml
  kubernetes/apps/attack-simulation/ares/app/rbac.yaml
  kubernetes/apps/attack-simulation/ares/app/redis-configmap.yaml
  kubernetes/apps/attack-simulation/ares/app/redis-service.yaml
  kubernetes/apps/attack-simulation/ares/app/redis-statefulset.yaml
  kubernetes/apps/attack-simulation/ares/ks.yaml
  kubernetes/apps/attack-simulation/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/app/ocirepository.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/flux-system/addons/app/notifications/github/externalsecret.yaml
Labels: area/kubernetes

chore: update cloudnative-pg helm chart tag to 0.28.0 in ocirepository config
  kubernetes/apps/database/cloudnative-pg/app/ocirepository.yaml
Labels: area/kubernetes

fix: update ares blue-worker command syntax in blue agent manifests
  kubernetes/apps/attack-simulation/ares/app/agents/blue-lateral-analyst.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-threat-hunter.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-triage.yaml
Labels: area/kubernetes

refactor: remove ares cracker agent and its configuration
  kubernetes/apps/attack-simulation/ares/app/agents/cracker.yaml
  kubernetes/apps/attack-simulation/ares/app/ares-config.yaml
  kubernetes/apps/attack-simulation/ares/app/kustomization.yaml
Labels: area/kubernetes

refactor: replace ares blue worker process with static sleep in blue agent pods
  kubernetes/apps/attack-simulation/ares/app/agents/blue-lateral-analyst.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-threat-hunter.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-triage.yaml
Labels: area/kubernetes

fix: update probes to always succeed in blue team agent deployments
  kubernetes/apps/attack-simulation/ares/app/agents/blue-lateral-analyst.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-threat-hunter.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-triage.yaml
Labels: area/kubernetes

feat: add ARES_LISTENER_IP env var to attack-simulation agent deployments
  kubernetes/apps/attack-simulation/ares/app/agents/coercion.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/credential-access.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/recon.yaml
Labels: area/kubernetes

feat: add observability and blue team enhancements to ares agents
  kubernetes/apps/attack-simulation/ares/app/agents/acl.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-lateral-analyst.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-orchestrator.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-threat-hunter.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/blue-triage.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/coercion.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/credential-access.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/lateral-movement.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/orchestrator.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/privesc.yaml
  kubernetes/apps/attack-simulation/ares/app/agents/recon.yaml
  kubernetes/apps/attack-simulation/ares/app/ares-config.yaml
  kubernetes/apps/attack-simulation/ares/app/externalsecret-grafana.yaml
  kubernetes/apps/attack-simulation/ares/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/dashboards/ares-agents-dashboard.yaml
Labels: area/kubernetes

ci: add helm installation and bootstrap CRDs step to test workflow
  .github/workflows/test-manifests.yaml
Labels: area/github

ci: add helm installation and bootstrap CRD step to test workflow (#1503)
  .github/workflows/test-manifests.yaml
Labels: area/github

feat: add blackbox-exporter and robusta to observability stack with recovery dashboards
  .gitignore
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/blackbox-exporter/app/rules.yaml
  kubernetes/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cluster-recovery-dashboard.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/recovery-rules.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
  kubernetes/apps/observability/robusta/app/helmrepository.yaml
  kubernetes/apps/observability/robusta/app/kustomization.yaml
  kubernetes/apps/observability/robusta/ks.yaml
Labels: area/kubernetes

fix: correct helmrelease yamls for ollama and traefik apps
  kubernetes/apps/inference/ollama/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

feat: add blackbox-exporter and robusta for improved cluster recovery observability (#1504)
  .gitignore
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/blackbox-exporter/app/rules.yaml
  kubernetes/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cluster-recovery-dashboard.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/recovery-rules.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
  kubernetes/apps/observability/robusta/app/helmrepository.yaml
  kubernetes/apps/observability/robusta/app/kustomization.yaml
  kubernetes/apps/observability/robusta/ks.yaml
Labels: area/kubernetes

fix: correct port definition and cleanup traefik helmrelease configuration (#1505)
  kubernetes/apps/inference/ollama/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

feat: bump robusta helm chart version to 0.38.0
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
Labels: area/kubernetes

feat: upgrade robusta helm chart to version 0.38.0 (#1506)
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
Labels: area/kubernetes

fix: set clusterName at correct level in robusta helmrelease config
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
Labels: area/kubernetes

fix: set clusterName at root level in robusta helmrelease (#1507)
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
Labels: area/kubernetes

feat: add blackbox-exporter and robusta for improved cluster recovery observability (#1504)
  .gitignore
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/blackbox-exporter/app/rules.yaml
  kubernetes/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cluster-recovery-dashboard.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/recovery-rules.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
  kubernetes/apps/observability/robusta/app/helmrepository.yaml
  kubernetes/apps/observability/robusta/app/kustomization.yaml
  kubernetes/apps/observability/robusta/ks.yaml
Labels: area/kubernetes

fix: correct port definition and cleanup traefik helmrelease configuration (#1505)
  kubernetes/apps/inference/ollama/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

fix: update resource requests and configs for stability and performance
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/tempo/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat: upgrade robusta helm chart to version 0.38.0 (#1506)
  kubernetes/apps/observability/robusta/app/helmrelease.yaml
Labels: area/kubernetes
