Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

chore(deps): update ghcr.io/fluxcd/source-controller docker tag to v1.2.4
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

Add k8s6 to mage
  magefiles/node-ops.go
Labels: area/go

Give homeassistant its own directory in the k8s nfs mount
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Update docs
  docs/dev.md
Labels: area/docs

Updated development docs and Kubernetes configurations.
  docs/dev.md
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/bootstrap/README.md
Labels: area/kubernetes, area/docs

Update flux components to v2.2.3; add missing namespace to external-secrets
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/bootstrap/README.md
  kubernetes/flux-system/config/flux-system/gotk-components.yaml
Labels: area/kubernetes

Removed old .gvm
  .gvm
Labels: none

Add additional information to flux instructions
  README.md
Labels: none

Add Flux v2.2.3 component manifests
  kubernetes/flux-system/config/flux-system/gotk-components.yaml
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

Updated docs; updated mage reconcile to skip external-secrets
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  magefiles/magefile.go
Labels: area/kubernetes, area/go

Add missing dependency requirements to cert-manager
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

Deprecated grocy
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
  kubernetes/apps/home-automation/grocy/app/kustomization.yaml
  kubernetes/apps/home-automation/grocy/ks.yaml
  kubernetes/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

Updated mage reconcile to ignore directories with sops.yaml
  .gitignore
  magefiles/magefile.go
Labels: area/go

Throw earlier error if pre-reqs for sops decrypt not met
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
Labels: area/kubernetes

Fixed kubed helmrelease
  kubernetes/apps/kube-system/kubed/app/helmrelease.yaml
Labels: area/kubernetes

Replaced kubed with config-syncer (project was renamed)
  kubernetes/apps/kube-system/kubed/app/helmrelease.yaml
Labels: area/kubernetes

Update kubed to config-syncer
  kubernetes/apps/kube-system/config-syncer/app/helmrelease.yaml
  kubernetes/apps/kube-system/config-syncer/app/kustomization.yaml
  kubernetes/apps/kube-system/config-syncer/ks.yaml
  kubernetes/apps/kube-system/kubed/app/helmrelease.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

Simplified annotation for cert
  kubernetes/apps/cert-manager/cert-manager/issuers/annotate.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
Labels: area/kubernetes

Updated apiVersion to latest
  kubernetes/apps/kube-system/config-syncer/app/helmrelease.yaml
  kubernetes/apps/kube-system/config-syncer/ks.yaml
Labels: area/kubernetes

Moved CRD management to kustomize for cert-manager hr
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes

Update cert-manager CRDs to be handled by kustomize instead of the helmrelease
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes

Moved CRD management back to HelmRelease
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes

Cloudflare secret key uniformity
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
Labels: area/kubernetes

Fixed incorrectly named helmrelease
  kubernetes/apps/kube-system/config-syncer/ks.yaml
Labels: area/kubernetes

Add new rm-crds hack script
  hack/rm-crds.sh
Labels: none

Minor cleanup
  kubernetes/apps/kube-system/config-syncer/app/helmrelease.yaml
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/kustomization.yaml
Labels: area/kubernetes

Fixed incorrect values in external-secrets ks
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes

Add missing instruction to external-secrets README
  kubernetes/apps/external-secrets/external-secrets/app/README.md
Labels: area/kubernetes

Add missing namespace; fixed external-secrets kustomization
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
Labels: area/kubernetes

Add GetFluxNotReadyResources to mage
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  magefiles/flux.go
Labels: area/kubernetes, area/go

Fixed namespace for kustomizations
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes

We should now be pointed at the correct external secrets
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
Labels: area/kubernetes

Fixed dependsOn
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

Fixed secret reference for CloudFlare API cred
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/kubernetes

Removed unnecessary dependsOn
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

Fixed metadata
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes

Renamed weave repository to match idiomatic naming practices
  kubernetes/flux-system/repositories/helm/kustomization.yaml
  kubernetes/flux-system/repositories/helm/weaveworks.yaml
Labels: area/kubernetes

Reduce replicaCount of externalsecrets helmrelease
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

Update cert-manager and external-secrets configurations
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

Fixed formatting issue with onepassword-connect sops file
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"
