Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"

chore(deps): update ghcr.io/fluxcd/kustomize-controller docker tag to v1.2.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/notification-controller docker tag to v1.2.3
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/source-controller docker tag to v1.2.3
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.12.3
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update fluxcd/flux2 to v2.2.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 2.4.0
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.29.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(github-release): update k3s-io/k3s to v1.28.4+k3s2 (#272)
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/notification-controller docker tag to v1.2.3 (#273)
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.29.0 (#285)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(helm): update chart app-template to 2.4.0 (#284)
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update fluxcd/flux2 to v2.2.1 (#283)
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update helmrepository to source.toolkit.fluxcd.io/v1beta2 (#279)
  kubernetes/flux-system/repositories/helm/ingress-traefik.yaml
Labels: area/kubernetes

chore(deps): update helmrelease to helm.toolkit.fluxcd.io/v2beta2 (#278)
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/kube-system/kubed/app/helmrelease.yaml
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart rancher to 2.8.0 (#276)
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.12.3 (#275)
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.37.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.9
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(github-release): update fluxcd/flux2 to v2.2.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

feat(github-release): update k3s-io/k3s to v1.29.0+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.37.2 (#287)
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.9 (#288)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(github-release): update fluxcd/flux2 to v2.2.2 (#289)
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

feat(github-release): update k3s-io/k3s to v1.29.0+k3s1 (#290)
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.12.4
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.2.1
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2024
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.12.4 (#292)
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.2.1 (#293)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

Add external-secrets
  .gitignore
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/flux-system/repositories/helm/external-secrets.yaml
Labels: area/kubernetes

Added onepassword-connect secret management for external-secrets
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Remove actions-runner-system - it's buggy and self-hosted runners are scary
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/pvc.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/woe.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/namespace.yaml
Labels: area/kubernetes

Add sops file
  .sops.yaml
Labels: none

Updated SOPS config, READMEs, and Kubernetes bootstrap setup
  .sops.yaml
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/age-key.sops.yaml
  kubernetes/bootstrap/kustomization.yaml
Labels: area/kubernetes

Fixed op sops
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

Add external-secrets HelmRepository
  kubernetes/flux-system/repositories/helm/kustomization.yaml
Labels: area/kubernetes

External secrets (#297)
  .gitignore
  .sops.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/pvc.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/woe.yaml
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/age-key.sops.yaml
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/flux-system/repositories/helm/external-secrets.yaml
  kubernetes/flux-system/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Fixed tag so that it used the ARM64 container
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Fixed tag so that it used the ARM64 container
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Fixed sha tag
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes
