Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.34.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook codespell-project/codespell to v2.2.5
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(helm): update chart rancher to 2.7.5
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.11
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v38.1.11
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.35.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update fluxcd/flux2 to v2.0.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

feat(github-action): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(github-action): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update gitrepository to source.toolkit.fluxcd.io/v1
  kubernetes/flux-system/repositories/helm/walls-of-excellence.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.27.4
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update rancher/system-upgrade-controller docker tag to v0.13.0
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

feat(github-action)!: Update renovatebot/github-action action to v39.0.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module github.com/l50/goutils to v2.0.9
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

Add evilginx2
  .pre-commit-config.yaml
  kubernetes/apps/evilginx2/evilginx2/app/env-configmap.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-deployment.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-ingress.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-service.yaml
  kubernetes/apps/evilginx2/evilginx2/app/kustomization.yaml
  kubernetes/apps/evilginx2/evilginx2/app/phishlets/example.yaml
  kubernetes/apps/evilginx2/evilginx2/ks.yaml
  kubernetes/apps/evilginx2/kustomization.yaml
  kubernetes/apps/evilginx2/namespace.yaml
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/pre-commit, area/kubernetes

Add missing pvc
  kubernetes/apps/evilginx2/evilginx2/app/kustomization.yaml
  kubernetes/apps/evilginx2/evilginx2/app/pvc.yaml
Labels: area/kubernetes

Add missing configmap
  kubernetes/apps/evilginx2/evilginx2/app/env-configmap.yaml
Labels: area/kubernetes

Update name of Sync()
  magefiles/magefile.go
Labels: area/go

Fixed deployment and configmap
  kubernetes/apps/evilginx2/evilginx2/app/env-configmap.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-deployment.yaml
Labels: area/kubernetes

Add missing configmap
  kubernetes/apps/evilginx2/evilginx2/app/kustomization.yaml
Labels: area/kubernetes

Rename Sync to Reconcile
  magefiles/magefile.go
Labels: area/go

Updated evilginx2 content
  .pre-commit-config.yaml
  kubernetes/apps/evilginx2/evilginx2/app/config/config.json
  kubernetes/apps/evilginx2/evilginx2/app/configmap.yaml
  kubernetes/apps/evilginx2/evilginx2/app/env-configmap.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-ingress.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-service.yaml
  kubernetes/apps/evilginx2/evilginx2/app/kustomization.yaml
  kubernetes/apps/evilginx2/evilginx2/app/phishlets/instagram.yaml
  kubernetes/apps/evilginx2/evilginx2/kustomization.yaml
  kubernetes/apps/evilginx2/evilginx2/namespace.yaml
Labels: area/pre-commit, area/kubernetes

Fixed redundant files
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-deployment.yaml
  kubernetes/apps/evilginx2/evilginx2/kustomization.yaml
  kubernetes/apps/evilginx2/evilginx2/namespace.yaml
Labels: area/kubernetes

Add labels for evilginx back in
  kubernetes/apps/evilginx2/evilginx2/app/kustomization.yaml
Labels: area/kubernetes

Fixed really annoying bug
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-cm.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-deployment.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-ingress.yaml
  kubernetes/apps/evilginx2/evilginx2/app/kustomization.yaml
Labels: area/kubernetes

Consistent commenting
  kubernetes/apps/guacamole/guacamole/ks.yaml
Labels: area/kubernetes

Add ghcr secret; add evilginx README
  kubernetes/apps/evilginx2/README.md
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-deployment.yaml
Labels: area/kubernetes

Moved cattle-system ns to deprecated
  kubernetes/deprecated/cattle-system/README.md
  kubernetes/deprecated/cattle-system/kustomization.yaml
  kubernetes/deprecated/cattle-system/namespace.yaml
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
  kubernetes/deprecated/cattle-system/rancher/app/kustomization.yaml
  kubernetes/deprecated/cattle-system/rancher/ks.yaml
Labels: area/kubernetes

Debugging
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-cm.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-deployment.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-ingress.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-pvc.yaml
  kubernetes/apps/evilginx2/evilginx2/app/kustomization.yaml
  kubernetes/flux-system/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Removed evilginx2 - causing issues
  kubernetes/apps/evilginx2/README.md
  kubernetes/apps/evilginx2/evilginx2/app/config/config.json
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-cm.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-deployment.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-ingress.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-pvc.yaml
  kubernetes/apps/evilginx2/evilginx2/app/evilginx2-service.yaml
  kubernetes/apps/evilginx2/evilginx2/app/kustomization.yaml
  kubernetes/apps/evilginx2/evilginx2/app/phishlets/example.yaml
  kubernetes/apps/evilginx2/evilginx2/app/phishlets/instagram.yaml
  kubernetes/apps/evilginx2/evilginx2/ks.yaml
  kubernetes/apps/evilginx2/kustomization.yaml
  kubernetes/apps/evilginx2/namespace.yaml
Labels: area/kubernetes

Add ignore deprecated to Reconcile()
  magefiles/magefile.go
Labels: area/go

Update lockfile versions
  infrastructure/.terraform.lock.hcl
  infrastructure/prod/l50/awsutils/.terraform.lock.hcl
  infrastructure/prod/l50/provider/.terraform.lock.hcl
Labels: none

feat(github-action)!: Update renovatebot/github-action action to v39.0.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update rancher/system-upgrade-controller docker tag to v0.13.0
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils to v2.0.9
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update gitrepository to source.toolkit.fluxcd.io/v1
  kubernetes/flux-system/repositories/helm/walls-of-excellence.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.27.4
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(github-release): update pre-commit hook pre-commit/mirrors-prettier to v3.0.2
  .pre-commit-config.yaml
Labels: area/pre-commit

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"
