Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/pre-commit, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

fix: set service account for system-upgrade-controller deployment
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove hostNetwork from guacamole deployment to improve network isolation
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
Labels: area/kubernetes

feat: configure postgresql to listen on all interfaces in guacamole deployment
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
Labels: area/kubernetes

refactor: simplify admin user setup with per-user permission grants
  kubernetes/apps/guacamole/guacamole/app/guacamole-admin-init-job.yaml
Labels: area/kubernetes

feat: add statefulset patch to mount tmp volume for loki-sc-rules container
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/statefulset-patch.yaml
Labels: area/kubernetes

fix: move loki statefulset volumeMount patch to helmrelease postRenderer
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/statefulset-patch.yaml
Labels: area/kubernetes

docs: overhaul and expand all documentation for onboarding and operations
  README.md
  docs/dev.md
  docs/test-environment.md
  kubernetes/bootstrap/README.md
Labels: area/docs, area/kubernetes

feat: add dynamic guacamole connection provisioning via external secret
  kubernetes/apps/guacamole/guacamole/app/externalsecret-jayson-pc.yaml
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
  kubernetes/apps/guacamole/guacamole/app/kustomization.yaml
Labels: area/kubernetes

refactor: replace inline Python provisioner with external container image
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
Labels: area/kubernetes

feat: add k8s1 ssh connection secret and mount to guacamole deployment
  kubernetes/apps/guacamole/guacamole/app/externalsecret-k8s1.yaml
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
  kubernetes/apps/guacamole/guacamole/app/kustomization.yaml
Labels: area/kubernetes

feat: add support for customizable guacamole connection parameters
  kubernetes/apps/guacamole/guacamole/app/externalsecret-k8s1.yaml
Labels: area/kubernetes

feat: add guacamole Taskfile with connection management and templated secrets
  .taskfiles/guacamole/Taskfile.yaml
  .taskfiles/guacamole/templates/connection-rdp.yaml.tmpl
  .taskfiles/guacamole/templates/connection-ssh.yaml.tmpl
  Taskfile.yaml
  kubernetes/apps/guacamole/guacamole/app/externalsecret-k8s1.yaml
  kubernetes/apps/guacamole/guacamole/app/externalsecret-k8s2.yaml
  kubernetes/apps/guacamole/guacamole/app/kustomization.yaml
Labels: area/kubernetes, area/taskfiles

refactor: simplify guacamole templates by hardcoding enable-clipboard and defaults
  .taskfiles/guacamole/templates/connection-rdp.yaml.tmpl
  .taskfiles/guacamole/templates/connection-ssh.yaml.tmpl
  kubernetes/apps/guacamole/guacamole/app/externalsecret-jayson-pc.yaml
  kubernetes/apps/guacamole/guacamole/app/externalsecret-k8s1.yaml
  kubernetes/apps/guacamole/guacamole/app/externalsecret-k8s2.yaml
Labels: area/kubernetes

feat: make guacamole connection options configurable via template variables
  .taskfiles/guacamole/templates/connection-rdp.yaml.tmpl
  .taskfiles/guacamole/templates/connection-ssh.yaml.tmpl
  kubernetes/apps/guacamole/guacamole/app/externalsecret-jayson-pc.yaml
  kubernetes/apps/guacamole/guacamole/app/externalsecret-k8s1.yaml
  kubernetes/apps/guacamole/guacamole/app/externalsecret-k8s2.yaml
Labels: area/kubernetes

refactor: always include optional fields for guacamole secrets and reorder resources
  .taskfiles/guacamole/Taskfile.yaml
  kubernetes/apps/guacamole/guacamole/app/kustomization.yaml
Labels: area/kubernetes

feat: automate dynamic connection volume mounts in guacamole deployment
  .taskfiles/guacamole/Taskfile.yaml
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
Labels: area/kubernetes

feat: add k8s3 guacamole connection with external secret and deployment updates
  .taskfiles/guacamole/Taskfile.yaml
  kubernetes/apps/guacamole/guacamole/app/externalsecret-k8s3.yaml
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
  kubernetes/apps/guacamole/guacamole/app/kustomization.yaml
Labels: area/kubernetes

feat: add tailscale operator with authentik oidc sso and webfinger integration
  kubernetes/apps/identity/authentik-webfinger/app/deployment.yaml
  kubernetes/apps/identity/authentik-webfinger/app/ingress.yaml
  kubernetes/apps/identity/authentik-webfinger/app/kustomization.yaml
  kubernetes/apps/identity/authentik-webfinger/app/service.yaml
  kubernetes/apps/identity/authentik-webfinger/ks.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/apps/identity/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/tailscale-operator/README.md
  kubernetes/apps/networking/tailscale-operator/app/connector.yaml
  kubernetes/apps/networking/tailscale-operator/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale-operator/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale-operator/app/helmrepository.yaml
  kubernetes/apps/networking/tailscale-operator/app/kustomization.yaml
  kubernetes/apps/networking/tailscale-operator/ks.yaml
Labels: area/kubernetes

feat: add k8s4 connection support to guacamole deployment with external secret
  .taskfiles/guacamole/Taskfile.yaml
  .taskfiles/guacamole/scripts/add-connection-volumes.sh
  kubernetes/apps/guacamole/guacamole/app/externalsecret-k8s4.yaml
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
  kubernetes/apps/guacamole/guacamole/app/kustomization.yaml
Labels: area/kubernetes

feat: add readiness/liveness probes and graceful shutdown to guacamole deployment
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
Labels: area/kubernetes

fix: increase probe timeouts and delays for guacamole startup
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
Labels: area/kubernetes

fix: simplify guacamole probes to tcpSocket and reduce timeoutSeconds
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
Labels: area/kubernetes

fix: remove redundant guacamole property from init container script
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
Labels: area/kubernetes

feat: add centralized home-automation log dashboards and log processing
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/dashboards/home-assistant-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-logs-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/throwingshade-operations-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/troy-backup-dashboard.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Labels: area/kubernetes

feat: add loki ruler configmap for home automation alerting rules
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/ruler-configmap.yaml
Labels: area/kubernetes

fix: update grafana folder annotation for shades dashboard
  kubernetes/apps/observability/grafana/app/dashboards/home-assistant-shades-dashboard.yaml
Labels: area/kubernetes

refactor: update grafana dashboards for improved log filtering and query clarity
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-logs-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/throwingshade-operations-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/troy-backup-dashboard.yaml
Labels: area/kubernetes

feat: adjust grafana dashboard panel layouts for improved clarity
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-logs-dashboard.yaml
Labels: area/kubernetes

feat: redesign home automation logs dashboard with improved panels and filtering
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-logs-dashboard.yaml
Labels: area/kubernetes

feat: simplify and refocus home automation logs dashboard for clarity
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-logs-dashboard.yaml
Labels: area/kubernetes

feat: redesign throwingshade operations dashboard with pod filtering and error trends
  kubernetes/apps/observability/grafana/app/dashboards/throwingshade-operations-dashboard.yaml
Labels: area/kubernetes

fix: update troy backup alert to match new weekly schedule
  kubernetes/apps/observability/loki/app/ruler-configmap.yaml
Labels: area/kubernetes

feat: redesign troy backup dashboard for enhanced monitoring and flexibility
  kubernetes/apps/observability/grafana/app/dashboards/troy-backup-dashboard.yaml
Labels: area/kubernetes

feat: consolidate shade monitoring dashboards and enhance throwingshade dashboard
  kubernetes/apps/observability/grafana/app/dashboards/home-assistant-shades-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/throwingshade-operations-dashboard.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Labels: area/kubernetes

feat: add panels for canceled ops, movement timeline, config and command logs
  kubernetes/apps/observability/grafana/app/dashboards/throwingshade-operations-dashboard.yaml
Labels: area/kubernetes

refactor: simplify operations dashboard by removing unused panels and updating layout
  kubernetes/apps/observability/grafana/app/dashboards/throwingshade-operations-dashboard.yaml
Labels: area/kubernetes

feat: enhance grafana dashboard layout and add recent command activity panel
  kubernetes/apps/observability/grafana/app/dashboards/throwingshade-operations-dashboard.yaml
Labels: area/kubernetes

refactor: update troy-backup dashboard to use pod label and improve queries
  kubernetes/apps/observability/grafana/app/dashboards/troy-backup-dashboard.yaml
Labels: area/kubernetes

feat: update troy-backup dashboard refresh and metrics for longer intervals
  kubernetes/apps/observability/grafana/app/dashboards/troy-backup-dashboard.yaml
Labels: area/kubernetes

docs: rewrite and streamline tailscale-operator setup and usage guide
  kubernetes/apps/networking/tailscale-operator/README.md
Labels: area/kubernetes
