Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"

fix(helm): update chart rancher to 2.7.5-rc2
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart rancher to 2.7.5-rc2
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.27.2
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update rancher/shell docker tag to v0.1.19
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update fluxcd/flux2 to v2.0.0-rc.5
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(helm): update chart app-template to 1.5.1
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.34.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/l50/goutils to v1.3.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(github-action)!: Update renovatebot/github-action action to v38.1.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update module k8s.io/client-go to v11.0.0+incompatible
  magefiles/go.mod
Labels: area/go

chore(deps): update rancher/shell docker tag to v0.1.20
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update actions/checkout action to v3.5.3
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update actions/checkout action to v3.5.3
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart rancher to 2.7.5-rc4
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update actions/labeler action to v4.1.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(github-action): update actions/labeler action to v4.1.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

chore(deps): update rancher/shell docker tag to v0.1.20
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update renovatebot/github-action action to v38.1.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update fluxcd/flux2 to v2.0.0-rc.5
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils to v1.3.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(helm): update chart rancher to 2.7.5-rc4
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart app-template to 1.5.1
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.27.3
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(github-action): update renovatebot/github-action action to v38.1.7
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v38.1.7
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update pre-commit hook codespell-project/codespell to v2.2.5
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module k8s.io/client-go to v11.0.0+incompatible
  magefiles/go.mod
Labels: area/go

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.34.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.8
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v38.1.8
  .github/workflows/renovate.yaml
Labels: area/github

fix(deps): update kubernetes packages to v0.27.3
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(helm): update chart rancher to 2.7.5
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(github-action): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(github-release): update rancher/system-upgrade-controller to v0.12.0
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

feat(github-release): update rancher/system-upgrade-controller to v0.12.0
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes
