Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

Swap cmd for sys; swap placement in kustomization
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
  magefiles/flux.go
Labels: area/kubernetes, area/go

Fixed incorrect kustomization setting
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
Labels: area/kubernetes

Fixed 1p key; remove old commented out code
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/kubernetes

Fixed old dep
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
Labels: area/kubernetes

Swapped kubed/config-syncer for reloader - licenses are not for me
  kubernetes/apps/kube-system/config-syncer/app/helmrelease.yaml
  kubernetes/apps/kube-system/config-syncer/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
  kubernetes/flux-system/repositories/helm/appscode.yaml
  kubernetes/flux-system/repositories/helm/kustomization.yaml
  kubernetes/flux-system/repositories/helm/stakater.yaml
Labels: area/kubernetes

Add reloader to home-assistant to (hopefully) reduce downtime significantly
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Integrated Kubed for cross-namespace secret sync and updated cert-manager issuer
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
  kubernetes/apps/kube-system/kubed/app/helmrelease.yaml
  kubernetes/apps/kube-system/kubed/app/kustomization.yaml
  kubernetes/apps/kube-system/kubed/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux-system/repositories/helm/appscode.yaml
  kubernetes/flux-system/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Replace Kubed with Kubernetes Reflector
  kubernetes/apps/kube-system/kubed/app/helmrelease.yaml
  kubernetes/apps/kube-system/kubed/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/kube-system/reflector/app/kustomization.yaml
  kubernetes/apps/kube-system/reflector/ks.yaml
  kubernetes/flux-system/repositories/helm/emberstack.yaml
  kubernetes/flux-system/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Add security and automation workflows; update labeling and syncing
  .github/workflows/codeql-analysis.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  magefiles/go.mod
Labels: area/github, area/go

Replaced kubed annotation with reflector
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Refactor cert-manager and external-secrets configurations
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/home-automation/home-assistant/ks.yaml
  kubernetes/apps/home-automation/mosquitto/ks.yaml
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/ingress-traefik/ks.yaml
Labels: area/kubernetes

Standardize naming for Kubernetes apps in flux-system
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/apps/guacamole/guacamole/ks.yaml
  kubernetes/apps/home-automation/home-assistant/ks.yaml
  kubernetes/apps/home-automation/mosquitto/ks.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/kube-system/reflector/ks.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/networking/ingress-traefik/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

Add missing sops to apps.yaml
  kubernetes/flux-system/apps.yaml
Labels: area/kubernetes

Refactor flux bootstrap and encryption setup
  .sops.yaml
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/age-key.sops.yaml
  kubernetes/bootstrap/flux/age-key.sops.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/bootstrap/kustomization.yaml
Labels: area/kubernetes

Revise Flux setup and enhance secret management
  .sops.yaml
  README.md
  kubernetes/apps/flux-system/README.md
  kubernetes/flux-system/config/gotk-components.yaml
  kubernetes/flux-system/config/kustomization.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/emberstack.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/external-secrets.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/ingress-traefik.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/k8s-at-home.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/nfs-subdir-external-provisioner.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/rancher.yaml
  kubernetes/flux/repositories/helm/stakater.yaml
  kubernetes/flux/repositories/helm/walls-of-excellence.yaml
  kubernetes/flux/repositories/helm/weaveworks.yaml
  kubernetes/flux/repositories/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.env
  kubernetes/flux/vars/kustomization.yaml
Labels: area/kubernetes

Fixed cluster-settings cm name
  kubernetes/flux/vars/kustomization.yaml
Labels: area/kubernetes

Fix reflector
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
Labels: area/kubernetes

Integrate monitoring and notifications into Flux setup
  kubernetes/apps/flux-system/addons/app/kustomization.yaml
  kubernetes/apps/flux-system/addons/app/monitoring/kustomization.yaml
  kubernetes/apps/flux-system/addons/app/monitoring/podmonitor.yaml
  kubernetes/apps/flux-system/addons/app/monitoring/prometheusrule.yaml
  kubernetes/apps/flux-system/addons/app/notifications/alert-manager/kustomization.yaml
  kubernetes/apps/flux-system/addons/app/notifications/alert-manager/notification.yaml
  kubernetes/apps/flux-system/addons/app/notifications/github/externalsecret.yaml
  kubernetes/apps/flux-system/addons/app/notifications/github/kustomization.yaml
  kubernetes/apps/flux-system/addons/app/notifications/github/notification.yaml
  kubernetes/apps/flux-system/addons/app/notifications/kustomization.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
Labels: area/kubernetes

Fixed bugs
  kubernetes/apps/flux-system/addons/app/kustomization.yaml
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

Fixed credential name
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
  kubernetes/apps/flux-system/addons/app/notifications/github/externalsecret.yaml
Labels: area/kubernetes

Fixed path
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

Fixed github externalsecret
  kubernetes/apps/flux-system/addons/app/notifications/github/externalsecret.yaml
Labels: area/kubernetes

Bug fixes
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

Loosening the requirements for ingress-traefik
  kubernetes/apps/networking/ingress-traefik/ks.yaml
Labels: area/kubernetes

Fixed previously missed old paths
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

Cleaned up flux config
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

Changed name of weave externalsecret
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
Labels: area/kubernetes

Fixed age key
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/flux/age-key.sops.yaml
  kubernetes/flux/config/flux-system/gotk-components.yaml
  kubernetes/flux/config/flux-system/gotk-sync.yaml
  kubernetes/flux/config/flux-system/kustomization.yaml
Labels: area/kubernetes

Update bootstrap instructions
  kubernetes/bootstrap/README.md
  kubernetes/flux/config/flux-system/gotk-components.yaml
  kubernetes/flux/config/flux-system/gotk-sync.yaml
  kubernetes/flux/config/flux-system/kustomization.yaml
Labels: area/kubernetes

Fixed bad path
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

Encrypted the wrong key >.<
  kubernetes/bootstrap/flux/age-key.sops.yaml
Labels: area/kubernetes

Fixed path
  kubernetes/apps/flux-system/addons/ks.yaml
Labels: area/kubernetes

Add missing serviceMonitors
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

Removed unused eventSource
  kubernetes/apps/flux-system/addons/app/notifications/alert-manager/notification.yaml
Labels: area/kubernetes

Fixed token for 1p connect
  .pre-commit-config.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/pre-commit, area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"
