Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"

chore(deps): update ghcr.io/fluxcd/source-controller docker tag to v1.1.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.36.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.28.2
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(github-release): update fluxcd/flux2 to v2.1.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.1
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(github-release): update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(helm): update chart rancher to 2.7.8
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: area/pre-commit

feat(helm)!: Update chart app-template to 2.0.3
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart app-template to 2.0.3
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/l50/goutils/v2 to v2.1.1
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(helm): update chart rancher to 2.7.8
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update fluxcd/flux2 to v2.1.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Labels: area/pre-commit

Refactor for readability; replace sh with sys
  .pre-commit-config.yaml
  magefiles/ansible.go
  magefiles/flux.go
  magefiles/go.sum
  magefiles/magefile.go
  magefiles/terraform.go
Labels: area/pre-commit, area/go

Update YAML configuration files for improved code readability
  .hooks/linters/yamllint.yaml
  .pre-commit-config.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/pre-commit, area/kubernetes

Update system-upgrade-controller to v0.13.1 and adjust timeouts and patches
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

Update k8s version to match ansible k8s version
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

Add toleration to system-upgrade-controller server
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

Add and modify labels for project areas, remove unused labels
  .github/labels.yaml
  .github/renovate/labels.json5
Labels: area/github

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.36.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/kustomize-controller docker tag to v1.1.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/source-controller docker tag to v1.1.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.3
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(github-release): update fluxcd/flux2 to v2.1.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

feat(github-release): update k3s-io/k3s to v1.28.2+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

Remove healthcheck from grocy
  kubernetes/apps/home-automation/grocy/ks.yaml
Labels: area/kubernetes

Fixed typo in error output
  magefiles/flux.go
Labels: area/go

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.36.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/kustomize-controller docker tag to v1.1.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/source-controller docker tag to v1.1.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.3
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update rancher/shell docker tag to v0.1.22
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.28.3
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(deps): update module github.com/l50/goutils/v2 to v2.1.4
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(github-release): update fluxcd/flux2 to v2.1.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

Fixed renovate action
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update k3s-io/k3s to v1.28.2+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

fix(github-release): update fluxcd/flux2 to v2.1.2 (#250)
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes
