Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/pre-commit, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

feat: add tailscale kubernetes operator with authentik sso and webfinger integration (#1124)
  kubernetes/apps/identity/authentik-webfinger/app/deployment.yaml
  kubernetes/apps/identity/authentik-webfinger/app/ingress.yaml
  kubernetes/apps/identity/authentik-webfinger/app/kustomization.yaml
  kubernetes/apps/identity/authentik-webfinger/app/service.yaml
  kubernetes/apps/identity/authentik-webfinger/ks.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/apps/identity/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/tailscale-operator/README.md
  kubernetes/apps/networking/tailscale-operator/app/connector.yaml
  kubernetes/apps/networking/tailscale-operator/app/externalsecret.yaml
  kubernetes/apps/networking/tailscale-operator/app/helmrelease.yaml
  kubernetes/apps/networking/tailscale-operator/app/helmrepository.yaml
  kubernetes/apps/networking/tailscale-operator/app/kustomization.yaml
  kubernetes/apps/networking/tailscale-operator/ks.yaml
Labels: area/kubernetes

feat: advertise local loadbalancer network in tailscale connector config
  kubernetes/apps/networking/tailscale-operator/app/connector.yaml
Labels: area/kubernetes

feat: switch probes to tcpSocket and increase memory for authentik-webfinger
  kubernetes/apps/identity/authentik-webfinger/app/deployment.yaml
Labels: area/kubernetes

fix: update troy-backup alert expressions for accuracy and reliability
  kubernetes/apps/observability/loki/app/ruler-configmap.yaml
Labels: area/kubernetes

feat: add Tailscale client secret to authentik external secret
  kubernetes/apps/identity/authentik/app/externalsecret.yaml
Labels: area/kubernetes

feat: add home-assistant-test app with Authentik OIDC and update identity integration
  .pre-commit-config.yaml
  README.md
  docs/test-environment.md
  kubernetes/apps/home-automation/home-assistant-test/README.md
  kubernetes/apps/home-automation/home-assistant-test/app/externalsecret.yaml
  kubernetes/apps/home-automation/home-assistant-test/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant-test/app/kustomization.yaml
  kubernetes/apps/home-automation/home-assistant-test/app/ocirepository.yaml
  kubernetes/apps/home-automation/home-assistant-test/ks.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
  kubernetes/apps/identity/authentik/app/externalsecret.yaml
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/bootstrap/README.md
Labels: area/docs, area/kubernetes, area/pre-commit

feat: improve oidc setup docs and enable custom health probes for home assistant
  kubernetes/apps/home-automation/home-assistant-test/README.md
  kubernetes/apps/home-automation/home-assistant-test/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable and configure custom probes for home-assistant deployment
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: integrate oidc authentication for home assistant via authentik
  kubernetes/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/kustomization.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
  kubernetes/apps/identity/authentik/app/externalsecret.yaml
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: add install and upgrade timeouts to home assistant helm releases
  kubernetes/apps/home-automation/home-assistant-test/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

refactor: remove authentik-webfinger app and kustomization from identity stack
  kubernetes/apps/identity/authentik-webfinger/app/deployment.yaml
  kubernetes/apps/identity/authentik-webfinger/app/ingress.yaml
  kubernetes/apps/identity/authentik-webfinger/app/kustomization.yaml
  kubernetes/apps/identity/authentik-webfinger/app/service.yaml
  kubernetes/apps/identity/authentik-webfinger/ks.yaml
  kubernetes/apps/identity/kustomization.yaml
Labels: area/kubernetes

feat: enhance liveness probe with supervisord and postgres health checks
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
Labels: area/kubernetes

feat: enable wal compression and configure tsdb out-of-order time window
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: set updateStrategy to Recreate for kube-prometheus-stack deployment
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: add actions-runner-controller and runner setup using Flux and Kustomize
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/rbac.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/woe/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/woe/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/woe/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/woe/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/woe/rbac.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/apps/actions-runner-system/namespace.yaml
Labels: area/kubernetes

refactor: update runner and repository names for l50 and woe environments
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/woe/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/woe/ocirepository.yaml
Labels: area/kubernetes

fix: update secret key references to use consistent private_key naming
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/woe/externalsecret.yaml
Labels: area/kubernetes

fix: update remote secret key reference for renovate bot runner
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/externalsecret.yaml
Labels: area/kubernetes

feat: add cowdogmoo runner and update runner configuration
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/cowdogmoo/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/cowdogmoo/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/cowdogmoo/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/cowdogmoo/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/cowdogmoo/rbac.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/helmrelease.yaml
Labels: area/kubernetes

feat: add runner scale set name and group to runner helm releases
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/cowdogmoo/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/helmrelease.yaml
Labels: area/kubernetes

fix: increase cpu request and set log level to info for home-assistant
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: set revisionHistoryLimit to 3 for multiple kubernetes apps
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: add kustomize postRenderers to enforce revisionHistoryLimit on deployments
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

fix: update home-assistant image repository and tag format
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove node affinity and adjust resource requests for authentik helmrelease
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: disable redis in authentik helm chart as it is no longer required
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: update resource requests and limits for home assistant test deployment
  kubernetes/apps/home-automation/home-assistant-test/app/helmrelease.yaml
Labels: area/kubernetes

feat: remove home-assistant-test instance to reduce cluster resource usage
  kubernetes/apps/home-automation/home-assistant-test/README.md
  kubernetes/apps/home-automation/home-assistant-test/app/externalsecret.yaml
  kubernetes/apps/home-automation/home-assistant-test/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant-test/app/kustomization.yaml
  kubernetes/apps/home-automation/home-assistant-test/app/ocirepository.yaml
  kubernetes/apps/home-automation/home-assistant-test/ks.yaml
  kubernetes/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

feat: add networkpolicy patch for flux-operator-web ingress control
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/networkpolicy-patch.yaml
Labels: area/kubernetes

feat: add cluster shutdown tasks and improve run-cmd-all output
  Taskfile.yaml
Labels: area/taskfiles

refactor: simplify and clarify cluster shutdown task with improved pod termination
  Taskfile.yaml
Labels: area/taskfiles

refactor: remove l50 runner configuration from actions-runner-controller **Changed:**
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/l50/rbac.yaml
Labels: area/kubernetes

feat: add pod anti-affinity rules to spread authentik components across nodes
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: add git-sync sidecar using GitHub App auth for home assistant
  kubernetes/apps/home-automation/home-assistant/app/README.md
  kubernetes/apps/home-automation/home-assistant/app/externalsecret.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: correct property name for github app private key in externalsecret
  kubernetes/apps/home-automation/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

feat: add synology certificate sync automation for cert-manager
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/synology-cert-sync/app/configmap.yaml
  kubernetes/apps/cert-manager/synology-cert-sync/app/cronjob.yaml
  kubernetes/apps/cert-manager/synology-cert-sync/app/externalsecret.yaml
  kubernetes/apps/cert-manager/synology-cert-sync/app/kustomization.yaml
  kubernetes/apps/cert-manager/synology-cert-sync/app/prometheusrule.yaml
  kubernetes/apps/cert-manager/synology-cert-sync/ks.yaml
Labels: area/kubernetes

refactor: move networkpolicy patching from kustomize to helm postRenderer
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/networkpolicy-patch.yaml
Labels: area/kubernetes

feat: add SAML blueprint for Synology NAS integration in Authentik
  kubernetes/apps/identity/authentik/app/authentik-saml-blueprint.yaml
  kubernetes/apps/identity/authentik/app/kustomization.yaml
Labels: area/kubernetes

feat: add authentik-saml-blueprint configmap to authentik helm release
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: add signing configuration options to saml blueprint
  kubernetes/apps/identity/authentik/app/authentik-saml-blueprint.yaml
Labels: area/kubernetes
