Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/pre-commit, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

fix: improve ansible logs dashboard regex patterns and update panel type
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/ansible-logs-dashboard.yaml
Labels: area/kubernetes

fix: improve ansible logs dashboard query accuracy and result matching
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/ansible-logs-dashboard.yaml
Labels: area/kubernetes

fix: remove node affinity rules excluding k8s6 from home and music assistant
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: add syslog receiver for UDM Pro logs and Grafana dashboard
  kubernetes/apps/observability/alloy/app/alloy-syslog-service.yaml
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/udmpro-dashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

feat: add unpoller app deployment and dashboards integration
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/unpoller.yaml
Labels: area/kubernetes

feat: add unpoller app deployment and dashboards integration
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/unpoller.yaml
Labels: area/kubernetes

fix: Something is off when HA runs on k8s6
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: improve config directory handling and error detection in home-assistant HelmRelease
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: ensure correct permissions and improve security for ts config monitor
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: update node affinity to schedule home-assistant pod on correct node
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: migrate unpoller deployment to app-template with OCI chart and external secret
  kubernetes/apps/observability/unpoller/app/externalsecret.yaml
  kubernetes/apps/observability/unpoller/app/helmrelease.yaml
  kubernetes/apps/observability/unpoller/app/kustomization.yaml
  kubernetes/apps/observability/unpoller/app/ocirepository.yaml
  kubernetes/apps/observability/unpoller/ks.yaml
Labels: area/kubernetes

style: increase yamllint line length and inline dashboard expression
  .hooks/linters/yamllint.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/ansible-logs-dashboard.yaml
Labels: area/kubernetes, area/pre-commit

fix: refine log query patterns for ansible error detection in dashboard
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/ansible-logs-dashboard.yaml
Labels: area/kubernetes

refactor: overhaul observability stack with modular apps and OCI-based deployments
  kubernetes/apps/observability/grafana/app/dashboards/ansible-logs-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/home-assistant-dashboard.yaml
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/udmpro-dashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/ocirepository.yaml
  kubernetes/apps/observability/loki/app/rules/loki-alerting-rules.yaml
  kubernetes/apps/observability/snmp-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/snmp-exporter/app/kustomization.yaml
  kubernetes/apps/observability/snmp-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/snmp-exporter/app/prometheusrule.yaml
  kubernetes/apps/observability/snmp-exporter/ks.yaml
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

fix: update gitignore to track externalsecret.yaml while ignoring secrets
  .gitignore
Labels: none

fix: Back to main
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

refactor: overhaul observability stack with modular apps and OCI-based deployments (#1002)
  .gitignore
  kubernetes/apps/observability/grafana/app/dashboards/ansible-logs-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/home-assistant-dashboard.yaml
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/ocirepository.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/udmpro-dashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/ocirepository.yaml
  kubernetes/apps/observability/loki/app/rules/loki-alerting-rules.yaml
  kubernetes/apps/observability/snmp-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/snmp-exporter/app/kustomization.yaml
  kubernetes/apps/observability/snmp-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/snmp-exporter/app/prometheusrule.yaml
  kubernetes/apps/observability/snmp-exporter/ks.yaml
Labels: area/kubernetes

feat: add grafana dashboard for udmpro logs and update syslog port
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/dashboards/udmpro-dashboard.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Labels: area/kubernetes

style: clean up formatting and improve yaml structure in grafana helmrelease
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: Incorrect update to alloy udm port
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
Labels: area/kubernetes

fix: update grafana kustomization dependencies and wait behavior
  kubernetes/apps/observability/grafana/ks.yaml
Labels: area/kubernetes

fix: Remove useless snmp-exporter
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/snmp-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/snmp-exporter/app/kustomization.yaml
  kubernetes/apps/observability/snmp-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/snmp-exporter/app/prometheusrule.yaml
  kubernetes/apps/observability/snmp-exporter/ks.yaml
Labels: area/kubernetes

fix: enable external-dns serviceMonitor and update alertmanagerconfig receiver
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes

feat: add prometheus scrape config for external-dns and update existing configs
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

fix: update external secret names and clean up unused fields in observability apps
  kubernetes/apps/observability/grafana/app/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes

fix: Remove unused dashboards
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove redundant file descriptor issues panel from home assistant dashboard
  kubernetes/apps/observability/grafana/app/dashboards/home-assistant-dashboard.yaml
Labels: area/kubernetes

fix: correct trailing comma in home assistant grafana dashboard config
  kubernetes/apps/observability/grafana/app/dashboards/home-assistant-dashboard.yaml
Labels: area/kubernetes

refactor: update flux kustomization manifests for alloy and unpoller consistency
  kubernetes/apps/observability/alloy/ks.yaml
  kubernetes/apps/observability/unpoller/ks.yaml
Labels: area/kubernetes

fix: Syntax issue in HA dashboard
  kubernetes/apps/observability/grafana/app/dashboards/home-assistant-dashboard.yaml
Labels: area/kubernetes

feat: redesign udmpro grafana dashboard for enhanced wifi analytics
  kubernetes/apps/observability/grafana/app/dashboards/udmpro-dashboard.yaml
Labels: area/kubernetes

feat: add CEF log parsing and labeling to alloy loki pipeline
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
Labels: area/kubernetes

fix: Correct secretRef
  kubernetes/apps/flux-system/addons/app/notifications/github/notification.yaml
Labels: area/kubernetes

fix: Remove old snmp-exporter from kustomize
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

feat: add rsyslog forwarding for unifi syslog and enhance unifi log parsing
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/vector/app/helmrelease.yaml
  kubernetes/apps/observability/vector/app/kustomization.yaml
  kubernetes/apps/observability/vector/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/vector.yaml
Labels: area/kubernetes

refactor: simplify vector syslog pipeline and update loki sink config
  kubernetes/apps/observability/vector/app/helmrelease.yaml
Labels: area/kubernetes

feat: working unifi syslog and CEF parsing using vector
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/vector/app/helmrelease.yaml
Labels: area/kubernetes

feat: redesign and expand unifi firewall grafana dashboard
  kubernetes/apps/observability/grafana/app/dashboards/udmpro-dashboard.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

refactor: rewrite vector CEF log parsing for improved reliability and flexibility
  kubernetes/apps/observability/vector/app/helmrelease.yaml
Labels: area/kubernetes

feat: add custom nginx configuration for loki gateway
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes
