Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"
area/kubernetes:
  - "kubernetes/**/*"

chore(deps): replace k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner docker tag with registry\.k8s\.io/sig-storage/nfs-subdir-external-provisioner v4.0.2
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook pre-commit/mirrors-prettier to v3.0.0-alpha.9-for-vscode
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(github-release): update pre-commit hook pre-commit/mirrors-prettier to v3.0.0-alpha.9-for-vscode
  .pre-commit-config.yaml
Labels: area/pre-commit

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): replace k8s.gcr.io/sig-storage/nfs-subdir-external-provisioner docker tag with registry\.k8s\.io/sig-storage/nfs-subdir-external-provisioner v4.0.2
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v36.1.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v36.1.1
  .github/workflows/renovate.yaml
Labels: area/github
