Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/pre-commit, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

feat: add health probes to authentik deployment and reduce dshm size
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: add security context to authentik postgres and adjust liveness probe
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix: increase authentik resource limits and simplify postgresql configuration
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: increase resource allocations for authentik components
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable passwordless authentication flow for grafana oauth client
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

remove: delete traefik outpost configuration from authentik oauth blueprint
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

fix: update authentik traefik integration and provider assignment
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
  kubernetes/apps/networking/ingress-traefik/app/authentik-middleware.yaml
Labels: area/kubernetes

chore: Remove outdated instructions for cert-manager
  kubernetes/apps/cert-manager/cert-manager/app/README.md
Labels: area/kubernetes

feat: add grocy app deployment with helm, kustomize, and OCI repository configs
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
  kubernetes/apps/home-automation/grocy/app/kustomization.yaml
  kubernetes/apps/home-automation/grocy/app/ocirepository.yaml
  kubernetes/apps/home-automation/grocy/ks.yaml
Labels: area/kubernetes

feat: update grocy deployment for improved performance and resource allocation
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

feat: enhance loki with old sample rejection and out-of-order window
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: increase resource limits and requests for loki statefulset
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: enable unordered writes for loki to improve ingestion performance
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: add node affinity for prometheus deployment in kube-prometheus-stack
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: increase prometheus resource requests and limits for improved performance
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: increase prometheus resource requests and limits for improved performance
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

refactor: migrate bootstrap process to helmfile and simplify flux config
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/helmfile.d/templates/values.yaml.gotmpl
  bootstrap/resources.yaml.j2
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/repositories.yaml
  kubernetes/flux/repositories/oci/repositories.yaml
  kubernetes/flux/vars/cluster-settings.env
  kubernetes/flux/vars/kustomization.yaml
Labels: area/kubernetes

feat: refactor external-secrets deployment and automate flux bootstrap
  Taskfile.yaml
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/apps/external-secrets/onepassword/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/onepassword/app/externalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword/app/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/app/ocirepository.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
  kubernetes/flux/repositories/oci/repositories.yaml
Labels: area/kubernetes, area/taskfiles

refactor: remove unused helm repository definitions from flux configuration
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/k8s-at-home.yaml
  kubernetes/flux/repositories/helm/rancher.yaml
  kubernetes/flux/repositories/helm/unpoller.yaml
Labels: area/kubernetes

feat: add flux-operator and flux-instance deployments with improved secrets handling
  bootstrap/helmfile.d/00-crds.yaml
  bootstrap/helmfile.d/01-apps.yaml
  bootstrap/resources.yaml.j2
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

feat: refactor external-secrets deployment and automate flux bootstrap
  Taskfile.yaml
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/ocirepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/namespace.yaml
  kubernetes/apps/external-secrets/onepassword/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/onepassword/app/externalsecret.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword/app/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/app/ocirepository.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes, area/taskfiles

refactor: remove unused helm repository definitions from flux configuration
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/k8s-at-home.yaml
  kubernetes/flux/repositories/helm/rancher.yaml
  kubernetes/flux/repositories/helm/unpoller.yaml
Labels: area/kubernetes

feat: add printer monitor cronjob for brother printer health in home automation
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/printer-monitor/README.md
  kubernetes/apps/home-automation/printer-monitor/app/configmap.yaml
  kubernetes/apps/home-automation/printer-monitor/app/cronjob.yaml
  kubernetes/apps/home-automation/printer-monitor/app/externalsecret.yaml
  kubernetes/apps/home-automation/printer-monitor/app/kustomization.yaml
  kubernetes/apps/home-automation/printer-monitor/ks.yaml
Labels: area/kubernetes

fix: update default ansible config path for task runner
  Taskfile.yaml
Labels: area/taskfiles

refactor: update secret and volume configurations for printer-monitor and loki
  kubernetes/apps/home-automation/printer-monitor/app/externalsecret.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: update sidecar image tag and remove unused volumes in loki helmrelease
  .github/renovate.json5
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/github, area/kubernetes

docs: improve printer monitor readme formatting and line wrapping
  kubernetes/apps/home-automation/printer-monitor/README.md
Labels: area/kubernetes

docs: update printer monitor schedule to every 30 minutes and clarify config
  kubernetes/apps/home-automation/printer-monitor/README.md
  kubernetes/apps/home-automation/printer-monitor/app/configmap.yaml
  kubernetes/apps/home-automation/printer-monitor/app/cronjob.yaml
Labels: area/kubernetes

feat: add helmrepository resources for improved helm chart management
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/ocirepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/identity/authentik/app/helmrepository.yaml
  kubernetes/apps/identity/authentik/app/kustomization.yaml
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/helmrepository.yaml
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/kustomization.yaml
  kubernetes/apps/kube-system/reflector/app/helmrepository.yaml
  kubernetes/apps/kube-system/reflector/app/kustomization.yaml
  kubernetes/apps/kube-system/reloader/app/helmrepository.yaml
  kubernetes/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/app/helmrepository.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrepository.yaml
  kubernetes/apps/networking/ingress-traefik/app/kustomization.yaml
  kubernetes/apps/observability/alloy/app/helmrepository.yaml
  kubernetes/apps/observability/alloy/app/kustomization.yaml
  kubernetes/apps/observability/vector/app/helmrepository.yaml
  kubernetes/apps/observability/vector/app/kustomization.yaml
Labels: area/kubernetes

refactor: remove all helm repository definitions and kustomizations from flux
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/test/Taskfile.yaml
  README.md
  Taskfile.yaml
  docs/test-environment.md
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/bootstrap/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/bootstrap/resources.yaml.j2
  kubernetes/flux/cluster/ks.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/authentik.yaml
  kubernetes/flux/repositories/helm/emberstack.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/external-secrets.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/ingress-traefik.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/k8s-at-home.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/nfs-subdir-external-provisioner.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/rancher.yaml
  kubernetes/flux/repositories/helm/stakater.yaml
  kubernetes/flux/repositories/helm/unpoller.yaml
  kubernetes/flux/repositories/helm/vector.yaml
  kubernetes/flux/repositories/kustomization.yaml
Labels: area/docs, area/kubernetes, area/taskfiles

refactor: scope test and validation tasks to testable apps, update helmrelease namespaces
  .taskfiles/test/Taskfile.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/helmrelease.yaml
  kubernetes/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/vector/app/helmrelease.yaml
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/bootstrap/helmfile.d/templates/values.yaml.gotmpl
Labels: area/kubernetes

fix: enable CRD installation for external-secrets and set namespace for oci repo
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/ocirepository.yaml
Labels: area/kubernetes

ci: add github workflow to test k8s manifests and improve test error filtering
  .github/workflows/test-manifests.yaml
  .taskfiles/test/Taskfile.yaml
Labels: area/github

fix: add task auto-trust flag to ci workflow
  .github/workflows/test-manifests.yaml
Labels: area/github

ci: update flux cli installation to use tarball instead of install script
  .github/workflows/test-manifests.yaml
Labels: area/github

ci: fix flux and helmfile install scripts for compatibility and reliability
  .github/workflows/test-manifests.yaml
Labels: area/github

fix: correct helmfile download to handle version string with leading 'v'
  .github/workflows/test-manifests.yaml
Labels: area/github

fix: suppress kustomize apply warnings for missing PrometheusRule CRDs
  .taskfiles/test/Taskfile.yaml
Labels: none

fix: improve error filtering in kubectl apply output for test tasks
  .taskfiles/test/Taskfile.yaml
Labels: none

chore: exclude nfs-subdir-external-provisioner from critical app checks in ci
  .github/workflows/test-manifests.yaml
Labels: area/github
