Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/magefiles, area/pre-commit, area/terraform, area/go

Fixed mage deps
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Update go mods
  magefiles/go.mod
Labels: area/magefiles

Added Loki and Promtail integrations for observability stack.
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/rules/loki-alerting-rules.yaml
  kubernetes/apps/observability/loki/ks.yaml
  kubernetes/apps/observability/promtail/app/helmrelease.yaml
  kubernetes/apps/observability/promtail/app/kustomization.yaml
  kubernetes/apps/observability/promtail/ks.yaml
Labels: area/kubernetes

Enhanced Loki HelmRelease with ingress and persistence improvements.
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Enhanced Loki HelmRelease configuration with ingress and mode updates.
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Refined Loki HelmRelease ingress and paths configuration.
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Updated Loki and Promtail configurations to latest versions
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/promtail/app/helmrelease.yaml
  kubernetes/apps/observability/promtail/ks.yaml
Labels: area/kubernetes

Added Loki as an additional data source to Grafana in kube-prometheus-stack
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Updated Traefik HelmRelease and mage dependencies
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
  magefiles/go.mod
  magefiles/go.sum
Labels: area/kubernetes, area/magefiles

Fixed traefik dashboard
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

Update weaveworks HR to latest
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

Fixed loki HR errors
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Updated terragrunt lockfiles
  infrastructure/prod/repos/cowdogmoo/warpgate/.terraform.lock.hcl
  infrastructure/prod/repos/l50/awsutils/.terraform.lock.hcl
  infrastructure/prod/repos/provider/.terraform.lock.hcl
Labels: area/terraform

Bug fix for warpgate OIDC
  infrastructure/prod/repos/cowdogmoo/project.hcl
Labels: area/terraform

feat: Updated Renovate configuration and workflow enhancements
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: area/github

chore: Update magefile go mods
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

feat: update pre-commit workflow triggers for main branch workflows
  .github/workflows/pre-commit.yaml
Labels: area/github

chore: Update magefile go mods
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

chore: Reorganize renovate action
  .github/workflows/renovate.yaml
Labels: area/github

feat: update Renovate autoMerge config to support more managers and strategies
  .github/renovate/autoMerge.json5
Labels: area/github

feat: update Renovate autoMerge config to support more managers and strategies
  .github/renovate/autoMerge.json5
Labels: area/github

feat: Update Renovate autoMerge config to support more managers and strategies
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Labels: area/github

feat: Update Renovate autoMerge config to support more managers and strategies
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Labels: area/github

feat: Update Renovate autoMerge config to support more managers and strategies
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Labels: area/github

feat: Update Renovate autoMerge config to support more managers and strategies
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Labels: area/github

fix: Remove old non-working packageRules
  .github/renovate/autoMerge.json5
Labels: area/github

feat: update Renovate config, refine workflow, and remove old bot config
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: area/github

feat: Add emoji for renovate action
  .github/workflows/renovate.yaml
Labels: area/github

chore: Run pre-commit to fix formatting issue
  kubernetes/apps/database/mysql/README.md
Labels: area/kubernetes

feat: Add `setup-ts` init container for ts config in Home Assistant.
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: Add Music Assistant HelmRelease & kustomization for home automation
  .codespellrc
  .pre-commit-config.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/music-assistant/app/kustomization.yaml
  kubernetes/apps/home-automation/music-assistant/ks.yaml
Labels: area/kubernetes, area/pre-commit

feat: Add Music Assistant HelmRelease (#952)
  .codespellrc
  .pre-commit-config.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/music-assistant/app/kustomization.yaml
  kubernetes/apps/home-automation/music-assistant/ks.yaml
Labels: area/kubernetes, area/pre-commit

fix: Remove infuriating tool-versions file
  .tool-versions
Labels: none

feat: Improve Home Assistant init and cleanup for throwing shade config
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove old k8s dependency versions from go.sum
  magefiles/go.sum
Labels: area/magefiles

refactor: replace magefiles with Taskfile.yaml for orchestration
  Taskfile.yaml
  magefiles/ansible.go
  magefiles/terraform.go
Labels: area/magefiles

feat: add task commands for node ops and remove magefile node-ops
  .gitignore
  Taskfile.yaml
  magefiles/node-ops.go
Labels: area/magefiles

feat: add Taskfile-based automation for fluxcd operations and remove magefile
  .taskfiles/flux/Taskfile.yaml
  Taskfile.yaml
  magefiles/flux.go
Labels: area/magefiles

refactor: migrate k8s task automation from magefiles to Taskfile
  .taskfiles/k8s/Taskfile.yaml
  Taskfile.yaml
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Labels: area/magefiles

feat: add kubectl presence check and refactor k8s task dependencies
  .gitignore
  .taskfiles/k8s/Taskfile.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/magefiles:
  - changed-files:
      - any-glob-to-any-file: "magefiles/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

area/go:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
