Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

fix(deps): update module github.com/l50/goutils/v2 to v2.1.4 (#249)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update rancher/shell docker tag to v0.1.22 (#247)
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.28.3 (#248)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

Updated HelmRepository source for Home Assistant; created Usage section
  README.md
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Create ApplySecrets mage func
  magefiles/magefile.go
Labels: area/go

Switching back to get it working again
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Updated Home Assistant HelmRelease for new chart repository.
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Going with the official homeassistant image for now.
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.5
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(helm): update chart rancher to 2.7.9
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart app-template to 2.0.3
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update k3s-io/k3s to v1.28.3+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.11.1
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.11.1 (#253)
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.5 (#254)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(helm): update chart rancher to 2.7.9 (#255)
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart app-template to 2.0.3 (#256)
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update k3s-io/k3s to v1.28.3+k3s1 (#258)
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/fatih/color to v1.16.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(deps): update kubernetes packages to v0.28.4
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(github-release): update pre-commit hook pre-commit/mirrors-prettier to v3.1.0
  .pre-commit-config.yaml
Labels: area/pre-commit

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.11.3
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.6
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(helm): update chart app-template to 2.3.0
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2023.11.3 (#260)
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.33.0 (#261)
  .pre-commit-config.yaml
Labels: area/pre-commit

feat(helm): update chart app-template to 2.3.0 (#262)
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/fatih/color to v1.16.0 (#263)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(deps): update kubernetes packages to v0.28.4 (#265)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(github-release): update pre-commit hook pre-commit/mirrors-prettier to v3.1.0 (#266)
  .pre-commit-config.yaml
Labels: area/pre-commit

fix(deps): update module github.com/l50/goutils/v2 to v2.1.6 (#268)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update rancher/system-upgrade-controller docker tag to v0.13.2
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

chore(deps): update rancher/system-upgrade-controller docker tag to v0.13.2 (#270)
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart rancher to 2.8.0
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update helmrelease to helm.toolkit.fluxcd.io/v2beta2
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/kube-system/kubed/app/helmrelease.yaml
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update helmrepository to source.toolkit.fluxcd.io/v1beta2
  kubernetes/flux-system/repositories/helm/ingress-traefik.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.1.9
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(github-release): update k3s-io/k3s to v1.28.4+k3s2
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.37.1
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"
