Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/magefiles, area/pre-commit, area/terraform, area/go

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/magefiles:
  - changed-files:
      - any-glob-to-any-file: "magefiles/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

area/go:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

Update go mod
  magefiles/go.mod
Labels: area/magefiles

Removed extra interval
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Add additional step to bootstrap doc
  kubernetes/bootstrap/README.md
Labels: area/kubernetes

Update mage go mods
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Fixed minor bug in awsutils oidc role name
  infrastructure/prod/l50/awsutils/terragrunt.hcl
Labels: area/terraform

Add warpgate oidc provider
  infrastructure/prod/l50/warpgate/.terraform.lock.hcl
  infrastructure/prod/l50/warpgate/terragrunt.hcl
Labels: area/terraform

Add missing repo name to oidc role string
  infrastructure/prod/l50/awsutils/terragrunt.hcl
  infrastructure/prod/l50/warpgate/terragrunt.hcl
Labels: area/terraform

Refactor infrastructure configuration for better organization and clarity
  infrastructure/prod/env.hcl
  infrastructure/prod/l50/repo.hcl
  infrastructure/prod/repos/cowdogmoo/provider/.terraform.lock.hcl
  infrastructure/prod/repos/cowdogmoo/provider/terragrunt.hcl
  infrastructure/prod/repos/cowdogmoo/repo.hcl
  infrastructure/prod/repos/cowdogmoo/warpgate/.terraform.lock.hcl
  infrastructure/prod/repos/cowdogmoo/warpgate/terragrunt.hcl
  infrastructure/prod/repos/l50/awsutils/.terraform.lock.hcl
  infrastructure/prod/repos/l50/awsutils/terragrunt.hcl
  infrastructure/prod/repos/l50/repo.hcl
Labels: area/terraform

Continued refactor of Terragrunt configurations for flexibility and maintainability.
  infrastructure/prod/env.hcl
  infrastructure/prod/repos/cowdogmoo/project.hcl
  infrastructure/prod/repos/cowdogmoo/provider/.terraform.lock.hcl
  infrastructure/prod/repos/cowdogmoo/provider/terragrunt.hcl
  infrastructure/prod/repos/cowdogmoo/repo.hcl
  infrastructure/prod/repos/cowdogmoo/warpgate/terragrunt.hcl
  infrastructure/prod/repos/l50/awsutils/terragrunt.hcl
  infrastructure/prod/repos/l50/project.hcl
  infrastructure/prod/repos/l50/repo.hcl
  infrastructure/prod/terragrunt.hcl
Labels: area/terraform

Reintegrated provider dependencies and updated OIDC configurations.
  infrastructure/prod/repos/cowdogmoo/warpgate/terragrunt.hcl
  infrastructure/prod/repos/env.hcl
  infrastructure/prod/repos/l50/awsutils/terragrunt.hcl
  infrastructure/prod/repos/provider/.terraform.lock.hcl
  infrastructure/prod/repos/provider/terragrunt.hcl
Labels: area/terraform

No ha on k8s6 - many container create errors
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Reorganized infrastructure; updated OIDC configurations to be more modular (#421)
  infrastructure/prod/l50/awsutils/terragrunt.hcl
  infrastructure/prod/l50/provider/.terraform.lock.hcl
  infrastructure/prod/l50/warpgate/terragrunt.hcl
  infrastructure/prod/repos/cowdogmoo/project.hcl
  infrastructure/prod/repos/cowdogmoo/warpgate/.terraform.lock.hcl
  infrastructure/prod/repos/cowdogmoo/warpgate/terragrunt.hcl
  infrastructure/prod/repos/env.hcl
  infrastructure/prod/repos/l50/awsutils/.terraform.lock.hcl
  infrastructure/prod/repos/l50/awsutils/terragrunt.hcl
  infrastructure/prod/repos/l50/project.hcl
  infrastructure/prod/repos/provider/.terraform.lock.hcl
  infrastructure/prod/repos/provider/terragrunt.hcl
  infrastructure/prod/terragrunt.hcl
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, area/terraform

Update tf path in magefile
  magefiles/terraform.go
Labels: area/magefiles

Fixed OIDC values
  infrastructure/prod/repos/cowdogmoo/warpgate/terragrunt.hcl
  infrastructure/prod/repos/l50/awsutils/terragrunt.hcl
Labels: area/terraform

Updated repo path to be case sensitive
  infrastructure/prod/repos/CowDogMoo/project.hcl
  infrastructure/prod/repos/CowDogMoo/warpgate/.terraform.lock.hcl
  infrastructure/prod/repos/CowDogMoo/warpgate/terragrunt.hcl
Labels: area/terraform

Undid case sensitive requirement
  infrastructure/prod/repos/cowdogmoo/project.hcl
  infrastructure/prod/repos/cowdogmoo/warpgate/.terraform.lock.hcl
  infrastructure/prod/repos/cowdogmoo/warpgate/terragrunt.hcl
Labels: area/terraform

Only run ha on k8s3 node - keeps things more reliable
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Update mage go mods
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Update OIDC role timeout to 2 hours from 1
  infrastructure/prod/repos/cowdogmoo/warpgate/terragrunt.hcl
Labels: area/terraform

Bumped mage dependencies
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Removed unused pre-commit hook
  .pre-commit-config.yaml
Labels: area/pre-commit

Add MySQL deployment to database namespace with Flux CD and ExternalSecrets
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/mysql/README.md
  kubernetes/apps/database/mysql/app/externalsecret.yaml
  kubernetes/apps/database/mysql/app/kustomization.yaml
  kubernetes/apps/database/mysql/app/mysql-deployment.yaml
  kubernetes/apps/database/mysql/app/mysql-pvc.yaml
  kubernetes/apps/database/mysql/app/mysql-service.yaml
  kubernetes/apps/database/mysql/ks.yaml
  kubernetes/apps/database/namespace.yaml
Labels: area/kubernetes

WIP
  kubernetes/apps/c2/sliver/app/externalsecret.yaml
  kubernetes/apps/c2/sliver/app/helmrelease.yaml
  kubernetes/apps/c2/sliver/app/kustomization.yaml
Labels: area/kubernetes

Update mage go version and pc hooks
  .pre-commit-config.yaml
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
  magefiles/go.mod
Labels: area/kubernetes, area/magefiles, area/pre-commit

WIP
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes

Bug fixes; HR version bump
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Minor bug fix in traefik HR
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

Updated mosquitto HR version; fixed expose spec syntax
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

Fixed externalsecret sync issue
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Fixed buggy mosquitto HR
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

Fixed kube-prometheus-stack HR namespace
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Bumped system-upgrade-controller HR to 3.5.1; fixed old schema elements
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

Bumped homeassistant HR to 3.5.1
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Bumped sliver HR to 3.5.1; fixed old schema elements
  kubernetes/apps/c2/sliver/app/helmrelease.yaml
Labels: area/kubernetes

Fixed deprecated label format
  kubernetes/apps/c2/sliver/app/kustomization.yaml
Labels: area/kubernetes

Updated warpgate tf lockfile
  infrastructure/prod/repos/cowdogmoo/warpgate/.terraform.lock.hcl
Labels: area/terraform

Update magefile deps
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Enhanced Ansible, Kubernetes, and Python setup with new configurations.
  .tool-versions
  ansible.cfg
  kubernetes/apps/guacamole/guacamole/app/guacamole-pvc.yaml
Labels: area/kubernetes

Updated codespell configuration and Home Assistant HelmRelease spec.
  .pre-commit-config.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes, area/pre-commit

Refactored Home Assistant HelmRelease YAML with topology constraints.
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes
