Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"

Add kube-prometheus-stack and grafana for monitoring
  .pre-commit-config.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/flux-system/repositories/helm/grafana.yaml
  kubernetes/flux-system/repositories/helm/kustomization.yaml
  kubernetes/flux-system/repositories/helm/prometheus-community.yaml
Labels: area/pre-commit, area/kubernetes

Remove old storage-class
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/storage-class.yaml.old
Labels: area/kubernetes

Update monitoring kustomization to v1
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

Fix bugs in grafana helmrelease
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Fixed version in kustomization
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

Fix ks values; adjust grafana env vars
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

Remove formatting from nfs-subdir helmrelease
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/helmrelease.yaml
Labels: area/kubernetes

Add missing ENV vars to grafana
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Working grafana deployment
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Add portainer
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/portainer/app/helmrelease.yaml
  kubernetes/apps/networking/portainer/app/kustomization.yaml
  kubernetes/apps/networking/portainer/ks.yaml
  kubernetes/flux-system/repositories/helm/portainer-charts.yaml
Labels: area/kubernetes

Fixed grafana and portainer
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/networking/portainer/app/helmrelease.yaml
Labels: area/kubernetes

Update weave to be available via ingress
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

Update install, uprade, etc. across several helmreleases
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/networking/portainer/app/helmrelease.yaml
Labels: area/kubernetes

Replace portainer with rancher
  kubernetes/apps/networking/portainer/app/helmrelease.yaml
  kubernetes/apps/rancher/kustomization.yaml
  kubernetes/apps/rancher/namespace.yaml
  kubernetes/apps/rancher/rancher/app/helmrelease.yaml
  kubernetes/apps/rancher/rancher/app/kustomization.yaml
  kubernetes/apps/rancher/rancher/ks.yaml
  kubernetes/flux-system/repositories/helm/kustomization.yaml
  kubernetes/flux-system/repositories/helm/rancher-latest.yaml
Labels: area/kubernetes

Add mage functions for nodes
  magefiles/node-ops.go
Labels: area/go

Break terraform logic into its own file
  magefiles/go.mod
  magefiles/magefile.go
  magefiles/node-ops.go
  magefiles/terraform.go
Labels: area/go

Fix external-dns annotations and ingressClassName
  kubernetes/apps/rancher/rancher/app/helmrelease.yaml
  kubernetes/apps/rancher/rancher/app/kustomization.yaml
Labels: area/kubernetes

Decrease interval for rancher
  kubernetes/apps/rancher/rancher/ks.yaml
Labels: area/kubernetes

Fixed name of rancher chart
  kubernetes/apps/rancher/rancher/app/helmrelease.yaml
Labels: area/kubernetes

Adjusted rancher helmrelease values
  kubernetes/apps/rancher/rancher/app/helmrelease.yaml
Labels: area/kubernetes

Gave in and documented the update and repackage method
  kubernetes/apps/rancher/README.md
  kubernetes/apps/rancher/rancher/app/charts/rancher-2.7.3.tgz
  kubernetes/apps/rancher/rancher/app/helmrelease.yaml
Labels: area/kubernetes

Removed rancher HelmRepository
  .pre-commit-config.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/.helmignore
  kubernetes/apps/rancher/rancher/app/charts/rancher/Chart.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/README.md
  kubernetes/apps/rancher/rancher/app/charts/rancher/scripts/post-delete-hook.sh
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/NOTES.txt
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/_helpers.tpl
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/clusterRoleBinding.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/configMap.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/deployment.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/ingress.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/issuer-letsEncrypt.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/issuer-rancher.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/post-delete-hook-cluster-role-binding.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/post-delete-hook-cluster-role.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/post-delete-hook-config-map.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/post-delete-hook-job.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/post-delete-hook-psp.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/post-delete-hook-service-account.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/priorityClass.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/pvc.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/service.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/serviceAccount.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/templates/validate-psp-install.yaml
  kubernetes/apps/rancher/rancher/app/charts/rancher/values.yaml
  kubernetes/apps/rancher/rancher/app/helmrelease.yaml
  kubernetes/flux-system/repositories/helm/kustomization.yaml
  kubernetes/flux-system/repositories/helm/rancher-latest.yaml
Labels: area/pre-commit, area/kubernetes

Add woe GitRepo to point to rancher chart in repo
  kubernetes/apps/rancher/rancher/app/helmrelease.yaml
  kubernetes/flux-system/repositories/helm/kustomization.yaml
  kubernetes/flux-system/repositories/helm/walls-of-excellence.yaml
Labels: area/kubernetes

Working on getting HelmRelease for weave working
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

Fixed kustomization
  kubernetes/flux-system/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(deps): update rancher/shell docker tag to v0.1.19
  kubernetes/apps/rancher/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update fluxcd/flux2 to v2.0.0-rc.3
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.56.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.33.0
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update rancher/system-upgrade-controller docker tag to v0.11.0
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 1.5.0
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 45.27.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/bitfield/script to v0.22.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(github-action)!: Update renovatebot/github-action action to v37.0.0
  .github/workflows/renovate.yaml
Labels: area/github

New flux mage utilities
  magefiles/flux.go
  magefiles/magefile.go
Labels: area/go

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(github-action)!: Update renovatebot/github-action action to v37.0.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update rancher/system-upgrade-controller docker tag to v0.11.0
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

chore(deps): update rancher/shell docker tag to v0.1.19
  kubernetes/apps/rancher/rancher/app/helmrelease.yaml
Labels: area/kubernetes
