Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

fix(github-release): update fluxcd/flux2 to v2.0.0-rc.3
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

fix(deps): update module github.com/bitfield/script to v0.22.0
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(helm): update chart kube-prometheus-stack to 45.27.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 1.5.0
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.56.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Update mage go deps
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

Consolidate ansible logic into ansible.go
  magefiles/ansible.go
  magefiles/magefile.go
  magefiles/node-ops.go
  magefiles/terraform.go
Labels: area/go

Add ansible config and updated ansible mage funcs
  ansible.cfg
  magefiles/ansible.go
Labels: area/go

DRY ansible functions up
  magefiles/ansible.go
Labels: area/go

Add destroy and rebuild to dev doc
  docs/dev.md
Labels: area/docs

Minor update to README
  README.md
Labels: none

Add several useful k8s utilities
  magefiles/magefile.go
Labels: area/go

Add Flux v2.0.0-rc.3 component manifests
  kubernetes/flux-system/config/flux-system/gotk-components.yaml
Labels: area/kubernetes

Add Flux sync manifests
  kubernetes/flux-system/config/flux-system/gotk-sync.yaml
  kubernetes/flux-system/config/flux-system/kustomization.yaml
Labels: area/kubernetes

Rewrote SyncResource to work properly
  magefiles/flux.go
Labels: area/go

Remove generated flux resources
  kubernetes/flux-system/config/flux-system/gotk-components.yaml
  kubernetes/flux-system/config/flux-system/gotk-sync.yaml
  kubernetes/flux-system/config/flux-system/kustomization.yaml
Labels: area/kubernetes

Fixed ingress class name
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

Set LB IP to value inside defined metallb range
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

Fix weave helmrelease
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/flux-system/repositories/helm/weave-gitops.yaml
Labels: area/kubernetes

Add instructions to reconcile flux resources
  kubernetes/apps/flux-system/README.md
Labels: area/kubernetes

Weave is FINALLY working with traefik
  kubernetes/apps/flux-system/README.md
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
Labels: area/kubernetes

Optimistically adding in previously removed features
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

Moved rancher resources to cattle-system namespace
  kubernetes/apps/cattle-system/README.md
  kubernetes/apps/cattle-system/kustomization.yaml
  kubernetes/apps/cattle-system/namespace.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher-2.7.3.tgz
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/.helmignore
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/Chart.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/README.md
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/scripts/post-delete-hook.sh
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/NOTES.txt
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/_helpers.tpl
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/clusterRoleBinding.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/configMap.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/deployment.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/ingress.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/issuer-letsEncrypt.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/issuer-rancher.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-cluster-role-binding.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-cluster-role.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-config-map.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-job.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-psp.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-service-account.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/priorityClass.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/pvc.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/service.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/serviceAccount.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/validate-psp-install.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/values.yaml
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
  kubernetes/apps/cattle-system/rancher/app/kustomization.yaml
  kubernetes/apps/cattle-system/rancher/ks.yaml
Labels: area/kubernetes

Created grafana ingress
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Working monitoring deployment
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

Remove old commented code; minor linting
  kubernetes/apps/cattle-system/rancher/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
Labels: area/kubernetes

Working on trying the traditional route with rancher again
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
  kubernetes/flux-system/repositories/helm/kustomization.yaml
  kubernetes/flux-system/repositories/helm/rancher.yaml
Labels: area/kubernetes

Disable PSP
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

Working rancher deployment
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

Improve readability and layout of rancher hr
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

Add mage helper function to remove rancher
  hack/rancher_cleanup.py
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Labels: area/go

Cleanup
  hack/rancher_cleanup.py
  kubernetes/apps/cattle-system/README.md
  kubernetes/apps/cattle-system/rancher/app/charts/rancher-2.7.3.tgz
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/.helmignore
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/Chart.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/README.md
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/scripts/post-delete-hook.sh
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/NOTES.txt
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/_helpers.tpl
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/clusterRoleBinding.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/configMap.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/deployment.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/ingress.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/issuer-letsEncrypt.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/issuer-rancher.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-cluster-role-binding.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-cluster-role.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-config-map.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-job.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-psp.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/post-delete-hook-service-account.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/priorityClass.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/pvc.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/service.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/serviceAccount.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/templates/validate-psp-install.yaml
  kubernetes/apps/cattle-system/rancher/app/charts/rancher/values.yaml
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
  kubernetes/apps/flux-system/README.md
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

Add instructions to reset the default password for rancher
  kubernetes/apps/cattle-system/README.md
Labels: area/kubernetes

Add missing delete to DestroyRancher()
  kubernetes/apps/cattle-system/README.md
  magefiles/magefile.go
Labels: area/kubernetes, area/go

Expose metrics on traefik hr
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update rancher/shell docker tag to v0.1.19
  kubernetes/apps/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module k8s.io/client-go to v11.0.0+incompatible
  magefiles/go.mod
Labels: area/go

fix(github-action): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(github-action): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Labels: area/github

fix(deps): update kubernetes packages to v0.27.2
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"
