Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/pre-commit, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

fix: use correct v1alpha2 constraints field for RemovePodsViolatingTopologySpreadConstraint
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat: add goldilocks for resource recommendations and apply pod disruption budgets
  .taskfiles/proxmox/Taskfile.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/app/poddisruptionbudget.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/goldilocks/app/helmrelease.yaml
  kubernetes/apps/observability/goldilocks/app/helmrepository.yaml
  kubernetes/apps/observability/goldilocks/app/kustomization.yaml
  kubernetes/apps/observability/goldilocks/ks.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/grafana/app/poddisruptionbudget.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/poddisruptionbudget.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/poddisruptionbudget.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes

feat: update resource requests and add topologySpreadConstraints for observability apps
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: update dependency from external-secrets-stores to onepassword
  kubernetes/apps/cert-manager/synology-cert-sync/ks.yaml
Labels: area/kubernetes

feat: redesign observability health dashboard using RED/USE methodology
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
Labels: area/kubernetes

feat: update grafana observability health dashboard to v3.0.1 with improved loki panel
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
Labels: area/kubernetes

feat: update observability health dashboard for clarity and streamlined layout
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
Labels: area/kubernetes

feat: enhance grafana observability health dashboard with detailed metrics
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
Labels: area/kubernetes

docs: add guide for booting rock5b from nvme using ubuntu-rockchip images
  docs/rock5b-nvme-boot.md
Labels: area/docs

refactor: remove group validation checks from k3s provision and reset tasks
  Taskfile.yaml
Labels: area/taskfiles

fix: update storage classes and node selectors for improved performance
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: restrict pod discovery to local node for alloy DaemonSet
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable goldilocks for observability namespace
  kubernetes/apps/observability/namespace.yaml
Labels: area/kubernetes

feat: enable goldilocks for flux-system, identity, guacamole namespaces
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/guacamole/namespace.yaml
  kubernetes/apps/identity/namespace.yaml
Labels: area/kubernetes

feat: add init container to install hass-dyson custom component
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: update resource allocations and improve observability dashboards
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-analytics-dashboard.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/vector/app/helmrelease.yaml
Labels: area/kubernetes

fix: update alert expression and authentik resource requests and limits
  kubernetes/apps/cert-manager/synology-cert-sync/app/prometheusrule.yaml
  kubernetes/apps/identity/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix: update regex to prevent false matches in discovery ports blocked metric
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-analytics-dashboard.yaml
Labels: area/kubernetes

feat: enhance grafana dashboard with firewall analytics and improved metrics
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-analytics-dashboard.yaml
Labels: area/kubernetes

fix: update grafana dashboard to use syslog severity field for event metrics
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-analytics-dashboard.yaml
Labels: area/kubernetes

feat: add wifi disconnect analytics panels to network dashboard
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-analytics-dashboard.yaml
Labels: area/kubernetes

fix: update wifi disconnect queries to use wifi_client label instead of device
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-analytics-dashboard.yaml
Labels: area/kubernetes

feat: split network analytics dashboard into overview, firewall, and wifi dashboards
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-analytics-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-firewall-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-overview-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-wifi-dashboard.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Labels: area/kubernetes

feat: add home automation overview dashboard and enhance existing dashboards
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-logs-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-overview-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/throwingshade-operations-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/troy-backup-dashboard.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Labels: area/kubernetes

feat: update grafana dashboards with improved descriptions and new overview links
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-logs-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-overview-dashboard.yaml
Labels: area/kubernetes

style: adjust dashboard panel heights and vertical positioning for compact layout
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-logs-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-overview-dashboard.yaml
Labels: area/kubernetes

refactor: remove dashboard intro text panels and adjust panel layout in grafana
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-logs-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/home-automation-overview-dashboard.yaml
Labels: area/kubernetes

refactor: remove dashboard purpose text panels and adjust panel layout positions
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-firewall-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-overview-dashboard.yaml
  kubernetes/apps/observability/grafana/app/dashboards/cowdogmoo-network-wifi-dashboard.yaml
Labels: area/kubernetes

feat: revamp troy-backup grafana dashboard to use prometheus metrics
  kubernetes/apps/observability/grafana/app/dashboards/troy-backup-dashboard.yaml
Labels: area/kubernetes

feat: improve alertmanager pushover message formatting and alert summarization
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes

feat: add PrometheusRule monitoring and alerting for authentik, traefik, and loki
  kubernetes/apps/identity/authentik/app/kustomization.yaml
  kubernetes/apps/identity/authentik/app/prometheusrule.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
  kubernetes/apps/networking/ingress-traefik/app/kustomization.yaml
  kubernetes/apps/networking/ingress-traefik/app/prometheusrule.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/prometheusrule.yaml
Labels: area/kubernetes

fix: simplify outpost disconnected alert expression in prometheusrule
  kubernetes/apps/identity/authentik/app/prometheusrule.yaml
Labels: area/kubernetes

feat: add ts-monitor container and update config paths for throwingshade
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: add zigbee2mqtt deployment and syslog receiver for home automation
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/ocirepository.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
Labels: area/kubernetes

feat: add ollama inference deployment with persistent storage and ingress
  kubernetes/apps/inference/kustomization.yaml
  kubernetes/apps/inference/namespace.yaml
  kubernetes/apps/inference/ollama/app/README.md
  kubernetes/apps/inference/ollama/app/deployment.yaml
  kubernetes/apps/inference/ollama/app/ingress.yaml
  kubernetes/apps/inference/ollama/app/kustomization.yaml
  kubernetes/apps/inference/ollama/app/middleware.yaml
  kubernetes/apps/inference/ollama/app/pvc.yaml
  kubernetes/apps/inference/ollama/app/service.yaml
  kubernetes/apps/inference/ollama/ks.yaml
Labels: area/kubernetes

feat: split zigbee2mqtt configuration into configmap and secret with merged config
  kubernetes/apps/home-automation/zigbee2mqtt/app/configmap.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
Labels: area/kubernetes

refactor: switch to advancedMounts for improved volume management in zigbee2mqtt
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat: add zigbee2mqtt group configurations for nursery canopy devices
  kubernetes/apps/home-automation/zigbee2mqtt/app/configmap.yaml
Labels: area/kubernetes

feat: add zigbee2mqtt group configurations for nursery canopy devices
  kubernetes/apps/home-automation/zigbee2mqtt/app/configmap.yaml
Labels: area/kubernetes

feat: increase resource allocations and update model in ollama deployment
  kubernetes/apps/inference/ollama/app/deployment.yaml
Labels: area/kubernetes
