Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/pre-commit, area/taskfiles, area/terraform

feat: add frigate NVR deployment for RK3588 hardware acceleration
  kubernetes/apps/home-automation/frigate/README.md
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
  kubernetes/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/apps/home-automation/frigate/app/ocirepository.yaml
  kubernetes/apps/home-automation/frigate/ks.yaml
  kubernetes/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

docs: replace em dashes with standard punctuation in frigate README
  kubernetes/apps/home-automation/frigate/README.md
Labels: area/kubernetes

feat: deploy frigate NVR with RK3588 hardware acceleration (#1755)
  kubernetes/apps/home-automation/frigate/README.md
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
  kubernetes/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/apps/home-automation/frigate/app/ocirepository.yaml
  kubernetes/apps/home-automation/frigate/ks.yaml
  kubernetes/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

fix: update frigate mqtt secret references to mosquitto-secret
  kubernetes/apps/home-automation/frigate/app/externalsecret.yaml
Labels: area/kubernetes

fix: update frigate mqtt secret references to mosquitto-secret (#1756)
  kubernetes/apps/home-automation/frigate/app/externalsecret.yaml
Labels: area/kubernetes

fix: quote frigate config version to prevent yaml type coercion
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
Labels: area/kubernetes

fix: quote frigate config version to prevent yaml type coercion (#1757)
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
Labels: area/kubernetes

feat: configure frigate ingress for https backend with servers transport
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
  kubernetes/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/apps/home-automation/frigate/app/serverstransport.yaml
Labels: area/kubernetes

refactor: simplify frigate back_right camera stream configuration
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
Labels: area/kubernetes

feat: configure frigate https ingress transport and update back_right camera (#1758)
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
  kubernetes/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/apps/home-automation/frigate/app/serverstransport.yaml
Labels: area/kubernetes

fix: move traefik service annotations from ingress to service for frigate
  kubernetes/apps/home-automation/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix: move traefik service annotations from ingress to service (#1759)
  kubernetes/apps/home-automation/frigate/app/helmrelease.yaml
Labels: area/kubernetes

feat: add authentik forward auth for frigate
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
  kubernetes/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

feat: add authentik forward auth for frigate (#1760)
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
  kubernetes/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes

feat: add back right camera stream to frigate config
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
  kubernetes/apps/home-automation/frigate/app/externalsecret.yaml
Labels: area/kubernetes

feat: add back right camera with go2rtc restream to frigate (#1761)
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
  kubernetes/apps/home-automation/frigate/app/externalsecret.yaml
Labels: area/kubernetes

fix: use url-encoded password for frigate back right camera
  kubernetes/apps/home-automation/frigate/app/externalsecret.yaml
Labels: area/kubernetes

fix: use url-encoded password for back right camera rtsp url (#1762)
  kubernetes/apps/home-automation/frigate/app/externalsecret.yaml
Labels: area/kubernetes

docs: regenerate README from repository state with automated tooling
  .pre-commit-config.yaml
  README.md
  hack/readme-gen.sh
Labels: area/hack-scripts, area/pre-commit

fix: increase frigate camera detection resolution to 1280x720
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
Labels: area/kubernetes

docs: add automated README generation and refresh cluster documentation (#1763)
  .pre-commit-config.yaml
  README.md
  hack/readme-gen.sh
Labels: area/hack-scripts, area/pre-commit

docs: remove community and license sections from README
  README.md
Labels: none

chore: increase frigate detection resolution and trim readme (#1764)
  README.md
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
Labels: area/kubernetes

perf: reduce frigate detection resolution to 640x480
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
Labels: area/kubernetes

docs: remove community and license sections from README
  README.md
Labels: none

feat: add HD camera group to frigate configuration
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
Labels: area/kubernetes

feat: add HD camera group to frigate configuration (#1766)
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
Labels: area/kubernetes

refactor: move frigate config from configmap to 1password secret
  kubernetes/apps/home-automation/frigate/README.md
  kubernetes/apps/home-automation/frigate/app/configmap.yaml
  kubernetes/apps/home-automation/frigate/app/externalsecret-config.yaml
  kubernetes/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/apps/home-automation/frigate/app/kustomization.yaml
Labels: area/kubernetes

feat: add frigate NVR app and regenerate README from repo state
  .pre-commit-config.yaml
  README.md
  kubernetes/apps/home-automation/frigate/README.md
  kubernetes/apps/home-automation/frigate/app/externalsecret-config.yaml
  kubernetes/apps/home-automation/frigate/app/externalsecret.yaml
  kubernetes/apps/home-automation/frigate/app/helmrelease.yaml
  kubernetes/apps/home-automation/frigate/app/kustomization.yaml
  kubernetes/apps/home-automation/frigate/app/ocirepository.yaml
  kubernetes/apps/home-automation/frigate/app/serverstransport.yaml
  kubernetes/apps/home-automation/frigate/ks.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/identity/authentik/app/authentik-oauth-blueprint.yaml
Labels: area/kubernetes, area/pre-commit

docs: streamline README and add generation script
  README.md
  docs/dev.md
  hack/readme-gen.sh
Labels: area/docs, area/hack-scripts

style: enforce 80-character line length in markdownlint config
  .hooks/linters/markdownlint.json
Labels: area/pre-commit

docs: streamline README and add automated section generation (#1768)
  .hooks/linters/markdownlint.json
  README.md
  docs/dev.md
  hack/readme-gen.sh
Labels: area/docs, area/hack-scripts, area/pre-commit

docs: streamline README and add automated section generation (#1768)
  .hooks/linters/markdownlint.json
  README.md
  docs/dev.md
  hack/readme-gen.sh
Labels: area/docs, area/hack-scripts, area/pre-commit

docs: document Frigate cloud camera setup for Nest and Ring
  kubernetes/apps/home-automation/frigate/README.md
  kubernetes/apps/home-automation/frigate/go2rtc-nest-describe-retry.patch
Labels: area/kubernetes

docs: document frigate alerting and zone configuration
  kubernetes/apps/home-automation/frigate/README.md
Labels: area/kubernetes

docs: document Nest/Ring cloud camera setup for frigate (#1769)
  kubernetes/apps/home-automation/frigate/README.md
  kubernetes/apps/home-automation/frigate/go2rtc-nest-describe-retry.patch
Labels: area/kubernetes

docs: update frigate ring doorbell integration description
  kubernetes/apps/home-automation/frigate/README.md
Labels: area/kubernetes

docs: update frigate ring doorbell integration notes (#1771)
  kubernetes/apps/home-automation/frigate/README.md
Labels: area/kubernetes

docs: clarify Ring doorbell integration and event capture in frigate
  kubernetes/apps/home-automation/frigate/README.md
Labels: area/kubernetes

docs: redact home assistant config repo url in readme
  kubernetes/apps/home-automation/home-assistant/app/README.md
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
