Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/magefiles, area/pre-commit, area/terraform, area/go

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/magefiles:
  - changed-files:
      - any-glob-to-any-file: "magefiles/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

area/go:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"

Add c2 ns and assets
  kubernetes/apps/c2/kustomization.yaml
  kubernetes/apps/c2/namespace.yaml
  kubernetes/apps/c2/sliver/README.md
  kubernetes/apps/c2/sliver/app/kustomization.yaml
  kubernetes/apps/c2/sliver/app/sliver-deployment.yaml
  kubernetes/apps/c2/sliver/app/sliver-ingress.yaml
  kubernetes/apps/c2/sliver/app/sliver-pvc.yaml
  kubernetes/apps/c2/sliver/app/sliver-service.yaml
  kubernetes/apps/c2/sliver/ks.yaml
  kubernetes/flux/repositories/kustomization.yaml
Labels: area/kubernetes

Added resource limits to the sliver deployment
  kubernetes/apps/c2/sliver/app/sliver-deployment.yaml
Labels: area/kubernetes

Specify arm container for sliver deployment
  kubernetes/apps/c2/sliver/app/sliver-deployment.yaml
Labels: area/kubernetes

Add https to service
  kubernetes/apps/c2/sliver/app/sliver-service.yaml
Labels: area/kubernetes

That didn't work. Experimenting with just port 80 in the svc
  kubernetes/apps/c2/sliver/app/sliver-service.yaml
Labels: area/kubernetes

Replace ingress with ingressroute; trying to use traefik cert in sliver
  kubernetes/apps/c2/sliver/app/kustomization.yaml
  kubernetes/apps/c2/sliver/app/sliver-deployment.yaml
  kubernetes/apps/c2/sliver/app/sliver-ingress.yaml
  kubernetes/apps/c2/sliver/app/sliver-ingressroute.yaml
Labels: area/kubernetes

The ingressroute broke external-dns. Going back to ingress to see if it's a one-to-one issue
  kubernetes/apps/c2/sliver/app/kustomization.yaml
  kubernetes/apps/c2/sliver/app/sliver-ingress.yaml
Labels: area/kubernetes

Add traefik middleware annotation to ingress
  kubernetes/apps/c2/sliver/app/sliver-ingress.yaml
Labels: area/kubernetes

Trying 8443 for sliver TLS
  kubernetes/apps/c2/sliver/app/sliver-ingress.yaml
  kubernetes/apps/c2/sliver/app/sliver-service.yaml
Labels: area/kubernetes

Roll back ha to known working version
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Updated Sliver deployment and Flux bootstrap configurations.
  kubernetes/apps/c2/sliver/app/sliver-deployment.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
Labels: area/kubernetes

Removed unnecessary dependencies among kustomizations
  kubernetes/apps/home-automation/home-assistant/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/ingress-traefik/ks.yaml
Labels: area/kubernetes

Refactored SOPS configuration and updated external-secrets documentation
  .sops.yaml
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
Labels: area/kubernetes

Uniform external-secret secret names
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/bootstrap/README.md
Labels: area/kubernetes

Provided nfs mount for external-secrets
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Created new 1p access token; added additional useful info to README
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

Fixed age key in k8s cluster and updated instructions to account for fix
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
Labels: area/kubernetes

Updated onepassword sops with new age key
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

Changed agekey back to age.agekey - turns out this is bad to do wrt fluxCD
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/bootstrap/README.md
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
Labels: area/kubernetes

Re-encrypted onepassword-connect
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

Simplify external-secrets HR
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

Attempting to resolve age problems
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
Labels: area/kubernetes

Added *secret* to gitignore
  .gitignore
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

Updated the 1pw-cred key
  .gitignore
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

I may finally have a fix for this external-secrets nonsense
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

It did not fix it. Still working
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
Labels: area/kubernetes

Add decryption block to flux-system ks
  kubernetes/apps/flux-system/addons/ks.yaml
Labels: area/kubernetes

Messing around with base64 encoding
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

Completely new vault and connect server
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Still debugging
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Added back stuff from when external-secrets worked
  .sops.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/flux/config/flux-system/gotk-components.yaml
  kubernetes/flux/config/flux-system/gotk-sync.yaml
  kubernetes/flux/config/flux-system/kustomization.yaml
Labels: area/kubernetes

external-secrets back in mage reconcile
  magefiles/magefile.go
Labels: area/magefiles

Fixed images for ARM
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

GLORIOUS VICTORY!!!
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
Labels: area/kubernetes

More sustainable solution
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Correct syntax for ingress in helmrelease
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Added external-dns annotation in 1p connet svc
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

This in conjunction with many other things finally resolved the issue with external-secrets not working.
  kubernetes/flux/repositories/helm/bjw-s.yaml
Labels: area/kubernetes

Update dev docs
  docs/dev.md
Labels: area/docs

Fixed monitoring external secret
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes
