Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/pre-commit, area/taskfiles, area/terraform

feat: add home assistant grafana dashboard for observability
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/home-assistant-dashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

feat: add home assistant grafana dashboard for observability (#980)
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/home-assistant-dashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

feat: migrate markdown linting to markdownlint-cli with new config
  .hooks/linters/markdownlint.json
  .hooks/linters/mdstyle.rb
  .pre-commit-config.yaml
Labels: area/pre-commit

feat: add ts config monitor sidecar and improve symlink setup for home-assistant
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove markdownlint configuration file
  .mdlrc
Labels: none

feat: add renovate taskfile include for dependency automation
  Taskfile.yaml
Labels: area/taskfiles

feat: enable ingress for loki with traefik and tls configuration
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable ingress for loki with traefik and tls configuration (#993)
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: update HelmRelease schema references to v2 and adjust loki ingress config
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

chore: Remove emmpty fields
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: replace promtail with alloy for log collection in observability stack
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/kustomization.yaml
  kubernetes/apps/observability/alloy/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/promtail/app/helmrelease.yaml
Labels: area/kubernetes

feat: update alloy helmrelease with improved logging config and volume mounts
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
Labels: area/kubernetes

feat: replace promtail with alloy for log collection in observability (#994)
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
  kubernetes/apps/observability/alloy/app/kustomization.yaml
  kubernetes/apps/observability/alloy/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/promtail/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove systemd journal scraping and update resource requests for alloy
  kubernetes/apps/observability/alloy/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove walls-of-excellence helm repository from flux configuration
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/walls-of-excellence.yaml
Labels: area/kubernetes

fix: remove unused secretRef from flux cluster configuration
  kubernetes/flux/config/cluster.yaml
Labels: area/kubernetes

style: add yaml language server schema reference to kustomization file
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

chore: update gitignore and clean up ingress-traefik ks.yaml
  .gitignore
  kubernetes/apps/networking/ingress-traefik/ks.yaml
Labels: area/kubernetes

feat: integrate authentik for oauth2 authentication and central security
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/externalsecret.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/kustomization.yaml
  kubernetes/apps/security/authentik/app/middleware.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/namespace.yaml
  kubernetes/flux/repositories/helm/authentik.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: add authentik forward auth middleware for traefik
  kubernetes/apps/networking/ingress-traefik/app/authentik-middleware.yaml
Labels: area/kubernetes

style: update database kustomization formatting and remove security kustomization
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

style: add yaml schema directive for language server support
  kubernetes/apps/database/mysql/app/kustomization.yaml
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/app/kustomization.yaml
  kubernetes/apps/kube-system/reflector/app/kustomization.yaml
  kubernetes/apps/observability/alloy/app/kustomization.yaml
Labels: area/kubernetes

style: add yaml schema reference and clean up comments in kustomization manifests
  kubernetes/apps/attack-simulation/atomic-red-team/ks.yaml
  kubernetes/apps/attack-simulation/ttpforge/ks.yaml
  kubernetes/apps/c2/sliver/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/database/mysql/ks.yaml
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
  kubernetes/apps/guacamole/guacamole/ks.yaml
  kubernetes/apps/home-automation/home-assistant/ks.yaml
  kubernetes/apps/home-automation/mosquitto/ks.yaml
  kubernetes/apps/home-automation/music-assistant/ks.yaml
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/ks.yaml
  kubernetes/apps/kube-system/reflector/ks.yaml
  kubernetes/apps/monitoring/runzero-explorer/ks.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/ingress-traefik/ks.yaml
Labels: area/kubernetes

feat: update guacamole and traefik images to latest versions
  kubernetes/apps/guacamole/guacamole/app/guacamole-deployment.yaml
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

feat: increase prometheus retention and add resource limits
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: update schema reference and traefik image configuration
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable and configure /ping and health endpoints for traefik
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

feat: update traefik helm chart and image configuration for improved clarity
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

feat: add ansible logs and playbook monitoring grafana dashboard
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/ansible-logs-dashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

chore: update pre-commit hooks and cleanup shell script checks
  .hooks/go-critic.sh
  .hooks/go-no-replacement.sh
  .hooks/go-vet.sh
  .hooks/run-shfmt.sh
  .pre-commit-config.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes, area/pre-commit

feat: add script to check container images for multi-arch support
  hack/check-images.sh
Labels: area/hack-scripts

fix: reduce prometheus replicas from 2 to 1 in helm release config
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: reduce alertmanager replicas to 1 in kube-prometheus-stack release
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: disable results cache in loki helm release
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: configure probes and resource limits for prometheus operator
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: enhance loki helmrelease with compactor, sidecar, and improved config
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove unsupported loki limits_config parameters from helmrelease
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: update loki helmrelease with improved config and enable self-monitoring
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: enhance home assistant dashboard with broader log queries and fd issue panel
  kubernetes/apps/observability/kube-prometheus-stack/app/dashboards/home-assistant-dashboard.yaml
Labels: area/kubernetes

fix: update home-assistant image repository and tag for latest release
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"
