Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/pre-commit, area/taskfiles, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: "Taskfile.yaml"

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

ci: increase deployment wait time in test-manifests workflow
  .github/workflows/test-manifests.yaml
Labels: area/github

refactor: restructure flux kustomization layout for improved organization
  kubernetes/flux/apps.yaml
  kubernetes/flux/cluster/kustomization.yaml
  kubernetes/flux/kustomization.yaml
Labels: area/kubernetes

fix: add sops-age secretRef for decryption in ks.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix: update apiVersion for helmrelease healthcheck in nfs provisioner kustomization
  kubernetes/apps/kube-system/nfs-subdir-external-provisioner/ks.yaml
Labels: area/kubernetes

fix: update age encryption recipient and secret references for flux and automation
  .sops.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes

fix: rotate onepassword-connect secret credentials and update sops metadata
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes

fix: rotate flux age encryption key and update sops metadata
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
Labels: area/kubernetes

fix: Use stringData instead to avoid base64 woes
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
Labels: area/kubernetes

fix: update sops secret naming and add reflection annotations
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes

fix: update 1password credentials secret with new encrypted content
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

style: remove duplicate reflector annotations in bootstrap resources template
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes

fix: update secret generation instructions and rotate encrypted secret values
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

chore: update codespell skip list to exclude onepassword-connect secret
  .codespellrc
Labels: none

refactor: update flux kustomization and secret structure for consistency
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix: sops file
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

fix: Delete old files
  kubernetes/flux/cluster/kustomization.yaml
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
  kubernetes/flux/kustomization.yaml
  kubernetes/flux/vars/cluster-settings.env
  kubernetes/flux/vars/kustomization.yaml
Labels: area/kubernetes

docs: update external-secrets onepassword connect setup instructions
  kubernetes/apps/external-secrets/external-secrets/app/README.md
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes

refactor: simplify external-secrets kustomization and remove redundant config
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
Labels: area/kubernetes

refactor: restructure onepassword manifests and update kustomization hierarchy
  kubernetes/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword/app/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword/app/ocirepository.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

fix: replace external-secrets-stores dependency with onepassword
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/home-automation/mosquitto/ks.yaml
  kubernetes/apps/home-automation/printer-monitor/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix: Remove redundant secret
  kubernetes/bootstrap/flux/age-key.secret.sops.yaml
Labels: area/kubernetes

refactor: update secret references and naming for consistency and templating
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/bootstrap/resources.yaml.j2
Labels: area/kubernetes

refactor: update onepassword naming and internal references for consistency
  kubernetes/apps/external-secrets/onepassword/app/clustersecretstore.yaml
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
Labels: area/kubernetes

docs: update 1password connect secret management instructions for bootstrap
  kubernetes/apps/external-secrets/external-secrets/app/README.md
Labels: area/kubernetes

fix: Specify alloy IP from pool
  kubernetes/apps/observability/alloy/app/alloy-syslog-service.yaml
Labels: area/kubernetes

fix: set namespace for kustomization resource in flux cluster patch
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix: add namespace to kustomization resources for flux compatibility
  kubernetes/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/apps/external-secrets/onepassword/ks.yaml
Labels: area/kubernetes

feat: add external-dns hostname annotation for onepassword service
  kubernetes/apps/external-secrets/onepassword/app/helmrelease.yaml
Labels: area/kubernetes

fix: Downgrade Grafana k8s-sidecar to 1.30.10 to fix dashboard loading
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: add troy-backup scheduled backup system for home automation
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/troy-backup/app/configmap.yaml
  kubernetes/apps/home-automation/troy-backup/app/cronjob.yaml
  kubernetes/apps/home-automation/troy-backup/app/kustomization.yaml
  kubernetes/apps/home-automation/troy-backup/app/pvc.yaml
  kubernetes/apps/home-automation/troy-backup/app/rbac.yaml
  kubernetes/apps/home-automation/troy-backup/ks.yaml
Labels: area/kubernetes

feat: add observability health monitoring dashboard for grafana
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Labels: area/kubernetes

feat: enhance observability stack with improved retention and alerting configs
  kubernetes/apps/observability/alloy/app/alloy-syslog-service.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: move retention_delete_delay to compactor config in loki helmrelease
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: correct dashboard JSON formatting and shorten content
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
Labels: area/kubernetes

fix: update target hostname for onepassword metrics scrape
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

feat: enhance observability health dashboard with resource metrics and error rates
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
Labels: area/kubernetes

feat: improve observability dashboard metrics and panel clarity
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
Labels: area/kubernetes

docs: update dashboard overview text for observability health metrics
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
Labels: area/kubernetes

fix: adjust dashboard panel positions to resolve layout overlap
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
Labels: area/kubernetes

refactor: update observability dashboard queries, units, and visual mappings
  kubernetes/apps/observability/grafana/app/dashboards/observability-health-dashboard.yaml
Labels: area/kubernetes
