Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/hack-scripts, area/kubernetes, area/magefiles, area/pre-commit, area/terraform, area/go

Add hostNetwork so that scans can properly execute outside of the k8s cluster
  kubernetes/apps/observability/runzero-explorer/app/runzero-explorer-deployment.yaml
Labels: area/kubernetes

Scale deployment
  kubernetes/apps/observability/runzero-explorer/app/runzero-explorer-deployment.yaml
Labels: area/kubernetes

Update mage go.mod
  magefiles/go.mod
  magefiles/go.sum
Labels: area/magefiles

Add podAntiAffinity to ensure runzero deployments run on different nodes
  kubernetes/apps/observability/runzero-explorer/app/runzero-explorer-deployment.yaml
Labels: area/kubernetes

Bump resource limits for runzero deployment
  kubernetes/apps/observability/runzero-explorer/app/runzero-explorer-deployment.yaml
Labels: area/kubernetes

Add restartPolicy
  kubernetes/apps/observability/runzero-explorer/app/runzero-explorer-deployment.yaml
Labels: area/kubernetes

Bumped deployment to 2
  kubernetes/apps/observability/runzero-explorer/app/runzero-explorer-deployment.yaml
Labels: area/kubernetes

Fixed ha schema; updated magefile go mods
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  magefiles/go.mod
  magefiles/go.sum
Labels: area/kubernetes, area/magefiles

Overhauled and fixed mosquitto MQTT broker
  kubernetes/apps/home-automation/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/home-automation/mosquitto/app/externalsecret.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/kustomization.yaml
  kubernetes/apps/home-automation/mosquitto/ks.yaml
Labels: area/kubernetes

Overhauled home-assistant HR to be adherent to the app-template schema
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Overhauled and fixed mosquitto MQTT broker
  kubernetes/apps/home-automation/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/home-automation/mosquitto/app/externalsecret.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/kustomization.yaml
  kubernetes/apps/home-automation/mosquitto/ks.yaml
Labels: area/kubernetes

Replace MQTT with MQTTS
  kubernetes/apps/home-automation/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

Calmed security measures until we get things stable
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

Inlined the configmap and added normal MQTT
  kubernetes/apps/home-automation/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/kustomization.yaml
Labels: area/kubernetes

Refactored Mosquitto deployment for improved security and configuration.
  kubernetes/apps/home-automation/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/kustomization.yaml
  kubernetes/apps/home-automation/mosquitto/ks.yaml
Labels: area/kubernetes

Remove old node-label
  kubernetes/apps/home-automation/mosquitto/app/node-label.yaml
Labels: area/kubernetes

Removed mqtts - not worth hassle
  kubernetes/apps/home-automation/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

Updated HA service to be load balancer
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Here's hoping that comment was wrong
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Bumped HA resources
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Back to the hostNetwork
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Homekit is FINALLY fixed - holy moly that was a pain
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Migrated sliver k8s manifests to helmrelease
  kubernetes/apps/c2/sliver/app/helmrelease.yaml
  kubernetes/apps/c2/sliver/app/kustomization.yaml
  kubernetes/apps/c2/sliver/app/sliver-deployment.yaml
  kubernetes/apps/c2/sliver/app/sliver-ingress.yaml
  kubernetes/apps/c2/sliver/app/sliver-ingressroute.yaml
  kubernetes/apps/c2/sliver/app/sliver-pvc.yaml
  kubernetes/apps/c2/sliver/app/sliver-service.yaml
Labels: area/kubernetes

Add mtls
  kubernetes/apps/c2/sliver/app/helmrelease.yaml
Labels: area/kubernetes

Sliver c2 is finally working
  kubernetes/apps/c2/sliver/app/helmrelease.yaml
Labels: area/kubernetes

Establish proper groupings of functions
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/runzero-explorer/app/README.md
  kubernetes/apps/monitoring/runzero-explorer/app/kustomization.yaml
  kubernetes/apps/monitoring/runzero-explorer/app/runzero-explorer-deployment.yaml
  kubernetes/apps/monitoring/runzero-explorer/app/runzero-explorer-ingress.yaml
  kubernetes/apps/monitoring/runzero-explorer/app/runzero-explorer-service.yaml
  kubernetes/apps/monitoring/runzero-explorer/ks.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

Add sliver README
  kubernetes/apps/c2/sliver/README.md
  kubernetes/apps/c2/sliver/app/kustomization.yaml
Labels: area/kubernetes

Update mage go mods
  magefiles/go.mod
Labels: area/magefiles

Update sliver to use arsenal image
  kubernetes/apps/c2/sliver/app/helmrelease.yaml
Labels: area/kubernetes

Increase timeout for sliver
  kubernetes/apps/c2/sliver/ks.yaml
Labels: area/kubernetes

Update ART container image
  kubernetes/apps/atomic-red/atomic-red/app/atomic-red-deployment.yaml
Labels: area/kubernetes

Refactored atomic-red ns to attack-simulation; updated ART to reflect those changes
  kubernetes/apps/atomic-red/atomic-red/app/kustomization.yaml
  kubernetes/apps/attack-simulation/atomic-red-team/app/README.md
  kubernetes/apps/attack-simulation/atomic-red-team/app/atomic-red-team-deployment.yaml
  kubernetes/apps/attack-simulation/atomic-red-team/app/atomic-red-team-ingress.yaml
  kubernetes/apps/attack-simulation/atomic-red-team/app/atomic-red-team-service.yaml
  kubernetes/apps/attack-simulation/atomic-red-team/app/kustomization.yaml
  kubernetes/apps/attack-simulation/atomic-red-team/ks.yaml
  kubernetes/apps/attack-simulation/kustomization.yaml
  kubernetes/apps/attack-simulation/namespace.yaml
Labels: area/kubernetes

Update magefiles go.mod
  magefiles/go.mod
Labels: area/magefiles

Update ImagePullPolicy to always for ART
  kubernetes/apps/attack-simulation/atomic-red-team/app/atomic-red-team-deployment.yaml
Labels: area/kubernetes

Add TTPForge
  kubernetes/apps/attack-simulation/ttpforge/app/README.md
  kubernetes/apps/attack-simulation/ttpforge/app/helmrelease.yaml
  kubernetes/apps/attack-simulation/ttpforge/app/kustomization.yaml
  kubernetes/apps/attack-simulation/ttpforge/ks.yaml
Labels: area/kubernetes

Bumped TTPForge helm timeout
  kubernetes/apps/attack-simulation/ttpforge/ks.yaml
Labels: area/kubernetes

Converted atomic-red-team to helmrelease
  kubernetes/apps/attack-simulation/atomic-red-team/app/atomic-red-team-deployment.yaml
  kubernetes/apps/attack-simulation/atomic-red-team/app/atomic-red-team-ingress.yaml
  kubernetes/apps/attack-simulation/atomic-red-team/app/atomic-red-team-service.yaml
  kubernetes/apps/attack-simulation/atomic-red-team/app/helmrelease.yaml
  kubernetes/apps/attack-simulation/atomic-red-team/app/kustomization.yaml
  kubernetes/apps/attack-simulation/atomic-red-team/ks.yaml
Labels: area/kubernetes

Added editorconfig; enriched docs
  .editorconfig
  docs/dev.md
  kubernetes/bootstrap/README.md
Labels: area/docs, area/kubernetes

Add label to traefik deployment
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

Linted shell scripts
  .hooks/go-critic.sh
  .hooks/go-no-replacement.sh
  .hooks/go-vet.sh
Labels: area/pre-commit

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "k3s-ansible/**/*"

area/docs:
  - changed-files:
      - any-glob-to-any-file: "docs/**/*"

area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

area/hack-scripts:
  - changed-files:
      - any-glob-to-any-file: "hack/*"

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"

area/magefiles:
  - changed-files:
      - any-glob-to-any-file: "magefiles/**/*"

area/pre-commit:
  - changed-files:
      - any-glob-to-any-file: .pre-commit-config.yaml
      - any-glob-to-any-file: .hooks/**/*

area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/**/*"

area/go:
  - changed-files:
      - any-glob-to-any-file: "go.mod"
      - any-glob-to-any-file: "go.sum"
