Repository CowDogMoo/Walls-of-Excellence, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/pre-commit, area/kubernetes, area/go, area/docs

Fixed other tag
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Removed redundant resource from kustomization
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
Labels: area/kubernetes

Manage cert-manager secret with onepass
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
Labels: area/kubernetes

Fixed vault name
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
Labels: area/kubernetes

Fix ingress
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Remove plugins from traefik
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

Updated traefik helm release for new configuration
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes

Fixed onepassword kustomization
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
Labels: area/kubernetes

Fix external dns annotation
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Fixed connectHost and port
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Back to http
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

Add namespace to files missing it
  kubernetes/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
Labels: area/kubernetes

Add missing namespace
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/kubernetes

Fixed 1p key
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/kubernetes

Fixed 1p key and data
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
Labels: area/kubernetes

Add prometheus to cert-manager; linting
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt.yaml
Labels: area/kubernetes

Update and refactor system-upgrade-controller to v0.13.2
  .hooks/linters/yamllint.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/pre-commit, area/kubernetes

Add weave externalsecret
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
Labels: area/kubernetes

Add grafana externalsecret
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes

Updated `home-assistant` HelmRelease configuration
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.2.2
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2024.1.5
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update kubernetes packages to v0.29.1
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

feat(helm): update chart app-template to 2.5.0
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart rancher to 2.8.1
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2024.1.5 (#298)
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update module github.com/l50/goutils/v2 to v2.2.2 (#299)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(deps): update kubernetes packages to v0.29.1 (#301)
  magefiles/go.mod
  magefiles/go.sum
Labels: area/go

fix(helm): update chart rancher to 2.8.1 (#304)
  kubernetes/deprecated/cattle-system/rancher/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart app-template to 2.5.0 (#302)
  kubernetes/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/home-automation/grocy/app/helmrelease.yaml
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

Made Home Assistant more robust with 3 replicas
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Updated autoMerge
  .github/renovate/autoMerge.json5
Labels: area/github

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2024.1.6
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/home-assistant/home-assistant docker tag to v2024.1.6 (#306)
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Added logo to repo and fixed README
  README.md
  docs/images/logo.png
Labels: none

Add pre-commit action
  .github/workflows/pre-commit.yaml
  README.md
Labels: area/github

Removed non-functioning replicaCount
  kubernetes/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/helm-controller docker tag to v0.37.3
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/kustomize-controller docker tag to v1.2.2
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

chore(deps): update ghcr.io/fluxcd/notification-controller docker tag to v1.2.4
  kubernetes/flux-system/config/gotk-components.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"

area/pre-commit:
  - ".pre-commit-config.yaml"
  - ".hooks/**/*"

area/kubernetes:
  - "kubernetes/**/*"

area/go:
  - "magefiles/*"

area/docs:
  - "docs/*"
